{#
  Contact

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/Contact
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if app.translator.locale == 'de' %}
  {# GERMAN Version #}  
  <p>Die folgenden Daten wurden am {{ form_record.form_submitted_when|date('DATETIME_FORMAT'|trans) }} über die IP {{ form_record.form_submitter_ip }} übermittelt:</p>
  
  {% if contact_data|length > 0 %}
    <p>Übermittelte Kontakt Daten:</p>
    <p>{% for field, value in contact_data %}
      {% if loop.index > 1 %}<br />{% endif %}
      {{ field|humanize|trans }} => {{ value|trans }}
    {% endfor %}</p>
  {% endif %}
      
  {% if form_data|length > 0 %}
    <p>Übermittelte Formular Daten:</p>
    <p>{% for field, value in form_data %}
      {% if loop.index > 1 %}<br />{% endif %}
      {{ field|humanize|trans }} => {{ value|trans }}
    {% endfor %}</p>  
  {% endif %}
  
{% else %}
  {# ENGLISH Version #}
  <p>The following data where submitted at {{ form_record.form_submitted_when|date('DATETIME_FORMAT'|trans) }} from IP {{ form_record.form_submitter_ip }}:</p>
  
  {% if contact_data|length > 0 %}
    <p>Submitted Contact data:</p>
    <p>{% for field, value in contact_data %}
      {% if loop.index > 1 %}<br />{% endif %}
      {{ field|humanize|trans }} => {{ value|trans }}
    {% endfor %}</p>
  {% endif %}
      
  {% if form_data|length > 0 %}
    <p>Submitted Form data:</p>
    <p>{% for field, value in form_data %}
      {% if loop.index > 1 %}<br />{% endif %}
      {{ field|humanize|trans }} => {{ value|trans }}
    {% endfor %}</p>  
  {% endif %}
      
{% endif %}