{#
  FacebookGallery

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/FacebookGallery
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'kitcommand/bootstrap/iframe.body.twig') %}
{% block title %}FacebookGallery - {{ 'Available galleries'|trans }}{% endblock %}
{% block stylesheet %}
  {{ parent() }}
  {% if fileExists(MANUFAKTUR_PATH ~ '/FacebookGallery/Template/' ~ FRAMEWORK_TEMPLATES.0 ~ '/css/gallery.min.css') %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/FacebookGallery/Template/' ~ FRAMEWORK_TEMPLATES.0 ~ '/css/gallery.min.css' }}" media="screen, projection" />
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/FacebookGallery/Template/default/css/gallery.min.css' }}" media="screen, projection" />
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{{ LIBRARY_URL ~ '/font-awesome/latest/css/font-awesome.min.css' }}" media="screen, projection" />
{% endblock stylesheet %}
{% block content %}
  <h3>FacebookGallery - {{ 'Available galleries'|trans }}</h3>
  <p>{{ 'The facebook ID <b>%facebook_id%</b> provide the following galleries'|trans({'%facebook_id%':facebook_id}) }}:</p>
  {% for gallery in galleries.data %}
    <h4>{{ gallery.name }}</h4>
    <div class="row">
      <div class="col-xs-3">{{ 'ID'|humanize|trans }}</div>
      <div class="col-xs-9">
        <a href="#" title="{{ 'Copy to clipboard'|trans }}" onclick="javascript:copyToClipboard('{{ gallery.id }}');"><i class="fa fa-files-o"></i></a> {{ gallery.id }}
      </div>
      <div class="col-xs-3">{{ 'Type'|trans }}</div>
      <div class="col-xs-9">{% set type = 'GALLERY_TYPE_' ~ gallery.type|upper %}{{ type|trans }}</div>
      <div class="col-xs-3">{{ 'Created at'|trans }}</div>
      <div class="col-xs-9">{{ gallery.created_time|date('DATETIME_FORMAT'|trans) }}</div>
      <div class="col-xs-3">{{ 'kitCommand' }}</div>
      <div class="col-xs-9">
        <a href="#" title="{{ 'Copy to clipboard'|trans }}" onclick="javascript:copyToClipboard('~~ FacebookGallery id[{{ gallery.id }}] ~~');"><i class="fa fa-files-o"></i></a> <code>~~ FacebookGallery id[{{ gallery.id }}] ~~</code>
      </div>
    </div>
  {% endfor %}
{% endblock %}
{% block footer %}
  {{ parent() }}
  <script type="text/javascript">
    function copyToClipboard (text) {
      window.prompt("{{ 'Copy to clipboard: <CTRL>+C, Enter'|trans }}", text);
    }
  </script>
{% endblock %}
