{#
  miniShop

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/miniShop
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
<!DOCTYPE html>
{% spaceless %}
<html lang="{{ app.translator.locale }}">
  <head>
    {% block head %}
      <title>{% block title %}miniShop - Administration{% endblock %}</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta charset="utf-8" />
      <meta name="robots" content="noindex,nofollow" />
      <meta name="description" content="{% block description %}{% endblock %}" />
      <meta name="keywords" content="{% block keywords %}{% endblock %}" />
      <meta name="content-language" content="{% block content_language %}{% if app.translator.locale == 'de' %}de{% else %}en{% endif %}{% endblock content_language %}" />
      <meta name="viewport" content="{% block viewport %}width=device-width, initial-scale=1.0{% endblock viewport %}">
      {% block stylesheet %}
        {# Bootstrap #}
        <link rel="stylesheet" type="text/css" href="{{ LIBRARY_URL }}/bootstrap/latest/css/bootstrap.min.css" />
        {% if usage != 'WebsiteBaker' %}
          <style type="text/css">
            {# the bootstrap container should use all available space #}
            .container {width: 100%;}
          </style>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ LIBRARY_URL }}/font-awesome/latest/css/font-awesome.min.css" />
      {% endblock stylesheet %}
      {% block jquery %}
        {# if possible load jQuery files in block footer_jquery above the </body> tag to improve page loading speed! #}
        <!--[if lt IE 9]>
          <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
      {% endblock jquery %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ MANUFAKTUR_URL }}/Basic/Template/default/framework/image/favicon.ico" />
    {% endblock head %}
  </head>
  <body>
    <div id="content">
      {% block content %}{% endblock content %}
    </div>
    {% block footer_jquery %}
      <script src="{{ LIBRARY_URL }}/jquery/jquery/latest/jquery.min.js"></script>
      <script src="{{ LIBRARY_URL }}/bootstrap/latest/js/bootstrap.min.js"></script>
    {% endblock footer_jquery %}
    {% block footer %}
      <script type="text/javascript">
        if (typeof 'jQuery' !== 'undefined') {
          $(document).ready(function() {
            {# setting the iFrame height dynamically by the height of the inbounded document #}
            var frame_id = window.frameElement.getAttribute('id');
            var content_height = $('#content').height() + {{ iframe_add_height|default(30) }} + "px";
            parent.document.getElementById(frame_id).style.height = content_height;
            if ($('.container').hasClass('alert')) {
              {# enable the bootstrap close button for alerts #}
              $('.alert').alert();
            }
            {# scroll always to top on loading the page #}
            document.getElementById('content').scrollIntoView(true);
          });
        }
      </script>
    {% endblock footer %}
  </body>
</html>
{% endspaceless %}
