{% block toolbar %}
  <ul class="nav nav-tabs">
    {% set default_link = FRAMEWORK_URL ~ '/admin/minishop/about' %}
    {% for item in toolbar %}
      <li{% if item.active %} class="active"{% endif %}>
        <a href="{{ item.link ~ '?usage=' ~ usage }}" title="{{ item.hint|trans }}">
          {% if item.name == 'about' %}
            <i class="fa fa-question"></i>
          {% elseif item.name == 'base' %}
            <i class="fa fa-cogs"></i>
          {% elseif item.name == 'group' %}
            <i class="fa fa-sitemap"></i>
          {% elseif item.name == 'article' %}
            <i class="fa fa-shopping-cart"></i>
          {% elseif item.name == 'orders' %}
            <i class="fa fa-truck"></i>
          {% elseif item.name == 'contact_list' %}
            <i class="fa fa-users"></i>
          {% elseif item.name == 'contact_edit' %}
            <i class="fa fa-user"></i>
          {% endif %}
          {% if item.name != 'about' %}  
            <span class="visible-lg pull-right">&nbsp;{{ item.text|trans }}</span>  
          {% endif %}
        </a>
      </li>
      {% if item.active %}
        {% set default_link = item.link %}
      {% endif %}
    {% endfor %}
    {% if usage is defined and usage != 'framework' %}
      <li>
        <a class="kitframework-icon" href="{{ default_link }}" title="{{ 'Open the %extension% extension in kitFramework'|trans({'%extension%':'miniShop'}) }}" target="_blank"><i class="fa fa-puzzle-piece"></i></a>
      </li>
    {% endif %}
  </ul>
{% endblock toolbar %}
