{#
  Contact

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/contact
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}

<div class="contact_form">
  <form action="{{ FRAMEWORK_URL ~ route.action }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_row(form._token) }}
      
    <fieldset> 
      <legend>{{ 'Contact'|trans }}</legend>
      {{ form_row(form.contact_type) }}     
      {{ form_row(form.contact_id) }}
      <div>
        <label>{{ 'contact_id'|trans }}</label>
        <div class="value">
          {% if form.contact_id.vars.value > 0 %}
            {{ form.contact_id.vars.value }}
          {% else %}
            {{ '- new contact -'|trans }}
          {% endif %}
        </div>
      </div>
      {% if form.contact_id.vars.value > 0 %}
        {{ form_row(form.contact_status) }}
      {% endif %}
      {{ form_row(form.category) }}
      <div class="edit_button">
        <input type="button" value=".." title="{{ 'Edit categories'|trans }}" onclick="self.location.href='{{ FRAMEWORK_URL ~ route.category }}';return false;" />
      </div>
      {{ form_row(form.tag) }}
      <div class="edit_button">
        <input type="button" value=".." title="{{ 'Edit tags'|trans }}" onclick="self.location.href='{{ FRAMEWORK_URL ~ route.tag }}';return false;" />
      </div> 
      <div class="extra_space"></div>
      {{ form_row(form.contact_name) }}
      {{ form_row(form.contact_login) }}
    </fieldset>
      
    <div class="extra_space"></div>
    
    <fieldset>
      <legend>{{ 'Company'|trans }}</legend>
      {{ form_row(form.company_id) }}
      {{ form_row(form.company_name) }}
      {{ form_row(form.company_department) }}
      {{ form_row(form.company_additional) }}
      {{ form_row(form.company_additional_2) }}
      {{ form_row(form.company_additional_3) }}
    </fieldset>
    
    <div class="extra_space"></div>
    
    <fieldset>
      <legend>{{ 'Communication'|trans }}</legend>
      {{ form_row(form.email_id) }}
      {{ form_row(form.email_value) }}
      {{ form_row(form.phone_id) }}
      {{ form_row(form.phone) }}
      {{ form_row(form.cell_id) }}
      {{ form_row(form.cell) }}
      {{ form_row(form.fax_id) }}
      {{ form_row(form.fax) }}
      {{ form_row(form.url_id) }}
      {{ form_row(form.url) }}
    </fieldset>
      
    <div class="extra_space"></div>
    
    <fieldset>
      <legend>{{ 'Business address'|trans }}</legend>
      {{ form_row(form.address_business_id) }}
      {{ form_row(form.address_business_street) }}
      {{ form_row(form.address_business_zip) }}
      {{ form_row(form.address_business_city) }}
      <div class="extra_space"></div>
      {# hide the address_business_area field, with form_row(form.address_business_area) you can use it as regular text field #}
      {{ form_widget(form.address_business_area, {'attr': {'class':'hidden'}} ) }}
      {{ form_row(form.address_business_state) }}
      {{ form_row(form.address_business_country) }}
    </fieldset>
    
    <div class="extra_space"></div>
     
    <fieldset>
      <legend>{{ 'Delivery address'|trans }}</legend>
      {{ form_row(form.address_delivery_id) }}
      {{ form_row(form.address_delivery_street) }}
      {{ form_row(form.address_delivery_zip) }}
      {{ form_row(form.address_delivery_city) }}
      {{ form_row(form.address_delivery_country) }}
    </fieldset>
    
    <div class="extra_space"></div>
    
    {% if extra_info|length > 0 %}
      <fieldset>
        <legend>{{ 'Extra fields'|trans }}</legend>
        {% for extra in extra_info %}
          {% if form[extra.name] is defined %}
            {{ form_row(form[extra.name]) }}
          {% endif %}
        {% endfor %}
      </fieldset>
    {% endif %}
    
    <div class="extra_space"></div>
    
    <fieldset>
      <legend>{{ 'Note'|trans }}</legend>
      {{ form_row(form.note_id) }}
      {{ form_row(form.note) }}
    </fieldset>
    
    {{ form_rest(form) }}
    
    <div class="extra_space"></div>
    <div>
      <label for="submit">&nbsp;</label>
      <input type="submit" name="submit" />
    </div>
    <div class="clear"></div>  
  </form>
</div>