{#
  Contact

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/contact
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}

<div class="contact_form">
  <form action="{{ FRAMEWORK_URL }}{{ route.action }}" method="post">
    
    {{ form_row(form.tag_type_id) }}
    <div>
      <label>ID</label>
      <div class="value">
        {% if form.vars.value.tag_type_id > 0 %}
          {{ '%03d'|format(form.vars.value.tag_type_id) }}
        {% else %}
          {{ '- new tag -'|trans }}
        {% endif %}
      </div>
    </div>
    
    {{ form_row(form.tag_name) }}
    
    {% if form.vars.value.tag_type_id > 0 %}  
      <div>
        <label>{{ 'Tag (translated)'|trans }}</label>
        <div class="value">{{ form.vars.value.tag_name|capitalize }} &rArr; {{ form.vars.value.tag_name|capitalize|trans }}</div>
      </div>
    {% endif %}
    
    {{ form_row(form.tag_description) }}
    {% if form.vars.value.tag_type_id > 0 %}  
      <div>
        <label>{{ 'Description (translated)'|trans }}</label>
        <div class="value">{{ form.vars.value.tag_description|trans }}</div>
      </div>
    {% endif %}
    
    
    {% if form.vars.value.tag_type_id > 0 %}
      <div class="clear"></div>
      <div>
        <label>&nbsp;</label>
        <input type="checkbox" name="delete" value="1" />&nbsp;{{ 'delete the #tag <b>%tag_name%</b>'|trans({'%tag_name%':form.vars.value.tag_name}) }}
      </div>
    {% endif %}
      
    {{ form_rest(form) }}  
    
    <div class="clear"></div>
    <div>
      <label for="submit">&nbsp;</label>
      <input type="submit" name="submit" />
    </div>
    <div class="clear"></div>  
  </form>
</div>