{#
  Contact

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/contact
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}

<div class="contact_form">
  <form action="{{ FRAMEWORK_URL ~ route.action }}" method="post" {{ form_enctype(form) }}>
    {{ form_row(form._token) }}
    {{ form_errors(form) }}

    {{ form_row(form.extra_type_id) }}
    <div>
      <label>{{ 'ID'|trans }}</label>
      <div class="value">
        {% if form.extra_type_id.vars.value > 0 %}
          {{ '%03d'|format(form.extra_type_id.vars.value) }}
        {% else %}
          {{ '- new extra field -'|trans }}
        {% endif %}
      </div>
    </div>

    {{ form_row(form.extra_type_type) }}

    {{ form_row(form.extra_type_name) }}
    {% if form.extra_type_id.vars.value > 0 %}  
      <div>
        <label>{{ 'Field name (translated)'|trans }}</label>
        <div class="value">{{ form.extra_type_name.vars.value|replace({'_':' '})|capitalize }} &rArr; {{ form.extra_type_name.vars.value|replace({'_':' '})|capitalize|trans }}</div>
      </div>
    {% endif %}

    {{ form_row(form.extra_type_description) }}  
    {% if form.extra_type_id.vars.value > 0 %}  
      <div>
        <label>{{ 'Description (translated)'|trans }}</label>
        <div class="value">{{ form.extra_type_description.vars.value|trans }}</div>
      </div>
    {% endif %}

    {% if form.extra_type_id.vars.value > 0 %}
      <div>
        <label>&nbsp;</label>
        {{ form_widget(form.delete) }}
      </div>    
    {% endif %}

    {#{ form_rest(form) }#}
      
      
    <div>
      <label for="submit">&nbsp;</label>
      <input type="submit" name="submit" />
    </div>
    <div class="clear"></div>  
  </form>
</div>