{#
  i18nEditor

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
  {% set template_namespace = '@phpManufaktur/Basic/Template' %}
  {% set template_file = 'framework/body.twig' %}
{% else %}
  {% set template_namespace = '@phpManufaktur/Basic/Template' %}
  {% set template_file = 'framework/i18n/body.twig' %}
{% endif %}
{% extends getTemplateFile(template_namespace, template_file) %}
{% block title %}{{ 'kitFramework i18nEditor' }}{% endblock %}
{% block stylesheet %}
  {{ parent() }}
  {% if fileExists(MANUFAKTUR_PATH ~ '/Basic/Template/' ~ FRAMEWORK_TEMPLATES.0 ~ '/framework/css/framework.min.css') %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/Basic/Template/' ~ FRAMEWORK_TEMPLATES.0 ~ '/framework/css/framework.min.css' }}" />
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/Basic/Template/default/framework/css/framework.min.css' }}" />
  {% endif %}
{% endblock stylesheet %}

{% block content %}
  <!-- {{ _self.getTemplateName() }} -->
  <div class="container{% if usage != 'framework'%}-fluid{% endif %}">
    {% include '@phpManufaktur/Basic/Template/default/framework/i18n/toolbar.twig' %}
    {% include '@phpManufaktur/Basic/Template/default/framework/i18n/toolbar.locale.twig' with {'toolbar': toolbar_locale} %}

    <h1>{{ 'Pending translations'|trans }} <small>i18nEditor</small></h1>

    {% if pendings|length > 0 %}
      <div class="well">
        <p>{{ 'This sources are currently not translated to <em>%locale%</em>, they are <em>pending</em>.'|trans({'%locale%':locale_locale}) }}</p>
      </div>
      {% if locale_locale|upper == 'EN' %}
        {% include '@phpManufaktur/Basic/Template/default/pattern/bootstrap/alert.twig'
          with {type:'alert-info',content:'Please be aware that <em>translations</em> for the locale <strong>EN</strong> (english) are more often than not identical with the <em>source</em> - for this reason they will be only added to a language file if the <em>translation</em> differ from <em>source</em>.'|trans } %}
      {% endif %}
    {% endif %}



    {{ alert }}

    {% if pendings|length > 0 %}
      <div class="table-responsive pendings">
        <table class="table table-striped table-condensed table-hover">
          <thead>
            <tr>
              <th>{{ 'ID'|humanize|trans }}</th>
              <th>{{ 'Source'|trans }}</th>
              <th>{{ 'Remark'|trans }}</th>
            </tr>
          </thead>
          <tbody>
            {% for pending in pendings %}
              <tr>
                <td><a href="{{ FRAMEWORK_URL ~ '/admin/i18n/editor/sources/detail/' ~ pending.locale_id ~ usage_param }}">{{ '%05d'|format(pending.locale_id) }}</a></td>
                <td class="source"><a href="{{ FRAMEWORK_URL ~ '/admin/i18n/editor/translation/edit/id/' ~ pending.translation_id ~ usage_param }}"><i class="fa fa-pencil-square-o"></i></a>&nbsp;{{ pending.locale_source|escape('html') }}</td>
                <td>{{ pending.translation_remark }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
{% endblock content %}
{% block footer_jquery %}
  {{ parent() }}
  {# tablesorter #}
  <script src="{{ LIBRARY_URL ~ '/jquery/tablesorter/latest/js/jquery.tablesorter.js' }}"></script>
  <script src="{{ LIBRARY_URL ~ '/jquery/tablesorter/latest/js/jquery.tablesorter.widgets.js' }}"></script>
  <script type="text/javascript">
    $(function() {
      $.extend($.tablesorter.themes.bootstrap, {
        table      : 'table table-bordered',
        caption    : 'caption',
        header     : 'bootstrap-header',
        footerRow  : '',
        footerCells: '',
        icons      : '',
        sortNone   : 'bootstrap-icon-unsorted',
        sortAsc    : 'icon-chevron-up glyphicon glyphicon-chevron-up',
        sortDesc   : 'icon-chevron-down glyphicon glyphicon-chevron-down',
        active     : '',
        hover      : '',
        filterRow  : '',
        even       : '',
        odd        : ''
      });

      $("table").tablesorter({
        theme : "bootstrap",
        widthFixed: true,
        headerTemplate : '{content} {icon}',
        widgets : [ "uitheme", "filter", "zebra" ],
        widgetOptions : {
          zebra : ["even", "odd"],
          filter_reset : ".reset"
        }
      })
    });
  </script>
{% endblock %}
