{% block toolbar %}
  <ul class="toolbar nav nav-tabs">
    {% set default_link = FRAMEWORK_URL ~ '/admin/i18n/editor/about' %}
    {% for item in toolbar %}
      <li{% if item.active %} class="active"{% endif %}>
        <a href="{{ item.link ~ '?usage=' ~ usage }}" title="{{ item.hint }}">
          {% if item.name == 'about' %}
            <i class="fa fa-question"></i>
          {% elseif item.name == 'overview' %}
            <i class="fa fa-th-list"></i>
          {% elseif item.name == 'sources' %}
            <i class="fa fa-file-code-o"></i>
          {% elseif item.name == 'problems' %}
            <i class="fa fa-bug"></i>
          {% elseif item.name in config.translation.locale|keys %}
            <i class="fa fa-language"></i>
          {% endif %}
          {% if item.name != 'about' %}  
            <span class="visible-lg pull-right">&nbsp;{{ item.text }}</span>  
          {% endif %}
        </a>
      </li>
      {% if item.active %}
        {% set default_link = item.link %}
      {% endif %}
    {% endfor %}
    {% if usage is defined and usage != 'framework' %}
      <li>
        <a class="kitframework-icon" href="{{ default_link }}" title="{{ 'Open the %extension% extension in kitFramework'|trans({'%extension%':'Contact'}) }}" target="_blank"><i class="fa fa-puzzle-piece"></i></a>
      </li>
    {% endif %}
  </ul>
{% endblock toolbar %}
