{# 
  kitFramework:Basic

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
<div class="kitfilter debug">
  <p>{{ 'Error executing the kitFilter <b>%filter%</b>'|trans({'%filter%':debug.filter}) }}:</p>
  <p><b>{{ 'File'|trans }}:</b> {{ debug.file }}</p>
  <p><b>{{ 'Line'|trans }}:</b> {{ debug.line }}</p>
  <p><b>{{ 'Message'|trans }}:</b> {{ debug.message }}</p>
</div>