{#
  kitFramework:Basic

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'kitcommand/iframe.body.twig') %}
{% block title %}{{ 'kitCommand - General help container'|trans }}{% endblock %}
{% block description %}{{ 'General help container for kitCommand help files'|trans }}{% endblock %}
{% block content %}
  <div class="kitcommand help navigation">

    <div class="navigation block left">
      {% if command.info.url is defined and command.info.url|length > 0 %}
        <div class="navigation item">
          [ <a href="{{ command.info.url }}" target="_blank" title="{{ 'Get more information about %command%'|trans({'%command%':command.command|upper}) }}">{{ 'Info'|trans }}</a> ]
        </div>
      {% endif %}
      {% if command.help.file is defined and command.help.file != 'help' %}
        <div class="navigation item">
          [ <a href="{{ command.help.url }}" title="{{ 'View the help file for %command%'|trans({'%command%':command.command|upper}) }}">{{ 'Help'|trans }}</a> ]
        </div>
      {% endif %}
      {% if command.wiki.url is defined and command.wiki.url|length > 0 %}
        <div class="navigation item">
          [ <a href="{{ command.wiki.url }}" target="_blank" title="{{ 'Visit the Wiki for %command% and learn more about it!'|trans({'%command%':command.command|upper}) }}">{{ 'Wiki'|trans }}</a> ]
        </div>
      {% endif %}
      {% if command.issues.url is defined and command.issues.url|length > 0 %}
        <div class="navigation item">
          [ <a href="{{ command.issues.url }}" target="_blank" title="{{ 'Please report all issues and help to improve %command%!'|trans({'%command%':command.command|upper}) }}">{{ 'Issues'|trans }}</a> ]
        </div>
      {% endif %}
      {% if command.support.url is defined and command.support.url|length > 0 %}
        <div class="navigation item">
          [ <a href="{{ command.support.url }}" target="_blank" title="{{ 'Get in touch with the developers, receive support, tipps and tricks for %command%!'|trans({'%command%':command.command|upper}) }}">{{ 'Support'|trans }}</a> ]
        </div>
      {% endif %}
    </div>

    <div class="navigation block">
      <div class="navigation item">
        [ <a href="{{ command.general.help.url }}" title="{{ 'View the general help for kitCommands'|trans }}" >{{ 'Help'|trans }}</a> ]
      </div>
      <div class="navigation item">
        [ <a href="{{ command.general.list.url }}" title="{{ 'Show a list of all installed kitCommands'|trans }}" >{{ 'List'|trans }}</a> ]
      </div>
      <div class="navigation item">
        <a href="{{ command.general.extern.url }}" target="_blank" title="{{ 'Open this helpfile in a new window'|trans }}"><img src="{{ MANUFAKTUR_URL }}/Basic/Template/default/kitcommand/image/expand_10x10.png" width="10" height="10" alt="{{ 'Open this helpfile in a new window'|trans }}" /></a>
      </div>
    </div>
    <div class="navigation clear"></div>
  </div>

  {# need the parent to enable prompting messages #}
  {{ parent() }}
  {# use template_from_string() to enable parsing of the Gist help content #}
  {{ include(template_from_string(help)) }}
{% endblock content %}
