{#
  Event

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
  {% set template_namespace = '@phpManufaktur/Basic/Template' %}
  {% set template_file = 'framework/body.twig' %}
{% else %}
  {% set template_namespace = '@phpManufaktur/Event/Template' %}
  {% set template_file = 'backend/body.twig' %}
{% endif %}
{% extends getTemplateFile(template_namespace, template_file) %}
{% block title %}{{ 'Event - Creat or edit a event group'|trans }}{% endblock %}
{% block stylesheet %}
  {{ parent() }}
  {% if usage == 'framework' %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Event/Template/default/backend/css/backend.css" media="screen, projection" />
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Event/Template/default/backend/css/group.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Event/Template/default/backend/css/go.back.css" media="screen, projection" />
{% endblock stylesheet %}

{% block content %}
  <div id="event_content">
    {% include '@phpManufaktur/Event/Template/default/backend/toolbar.twig' %}

    {% if message|length > 0 %}
      <div class="message">{{ message }}</div>
    {% endif %}

    {% include '@phpManufaktur/Event/Template/default/backend/go.back.twig' with { links: {} } only %}

    <div class="group_form">
      <form action="{{ FRAMEWORK_URL }}/admin/event/group/edit?usage={{ usage }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        <fieldset>
          <legend>{{ 'Group'|trans }}</legend>
          <div>
            <label>{{ 'contact_id'|trans }}</label>
            <div class="value">
              {% if form.group_id.vars.value > 0 %}
                {{ form.group_id.vars.value }}
              {% else %}
                {{ '- new group -'|trans }}
              {% endif %}
            </div>
          </div>
          {{ form_row(form.group_id) }}
          {{ form_row(form.group_status) }}
          {{ form_row(form.group_name) }}
          {% if form.group_id.vars.value > 0 %}
            <div>
              <label>{{ 'Group name (translated)'|trans }}</label>
              <div class="value">{{ form.group_name.vars.value|replace({'_':' '})|capitalize }} &rArr; {{ form.group_name.vars.value|replace({'_':' '})|capitalize|trans }}</div>
            </div>
          {% endif %}

          {{ form_row(form.group_description) }}
          {% if form.group_id.vars.value > 0 %}
            <div>
              <label>{{ 'Description (translated)'|trans }}</label>
              <div class="value">{{ form.group_description.vars.value|trans }}</div>
            </div>
          {% endif %}
        </fieldset>

        <fieldset>
          <legend>{{ 'Tags'|trans }}</legend>
          {{ form_row(form.group_organizer_contact_tags) }}
          <div class="edit_button">
            <input type="button" value=".." title="{{ 'Edit tags'|trans }}" onclick="self.location.href='{{ FRAMEWORK_URL }}/admin/event/contact/tag/list?usage={{ usage }}';return false;" />
          </div>
          {{ form_row(form.group_location_contact_tags) }}
          <div class="edit_button">
            <input type="button" value=".." title="{{ 'Edit tags'|trans }}" onclick="self.location.href='{{ FRAMEWORK_URL }}/admin/event/contact/tag/list?usage={{ usage }}';return false;" />
          </div>
          {{ form_row(form.group_participant_contact_tags) }}
          <div class="edit_button">
            <input type="button" value=".." title="{{ 'Edit tags'|trans }}" onclick="self.location.href='{{ FRAMEWORK_URL }}/admin/event/contact/tag/list?usage={{ usage }}';return false;" />
          </div>
        </fieldset>

        <fieldset>
          <legend>{{ 'Extra fields'|trans }}</legend>
          {{ form_row(form.group_extra_fields) }}
          {{ form_rest(form) }}
          {{ form_row(form.add_extra_field) }}
          <div class="edit_button">
            <input type="button" value=".." title="{{ 'Edit extra fields'|trans }}" onclick="self.location.href='{{ FRAMEWORK_URL }}/admin/event/extra/field/list?usage={{ usage }}';return false;" />
          </div>
        </fieldset>

        <div>
          <label for="submit">&nbsp;</label>
          <input type="submit" name="submit" />
        </div>
        <div class="clear"></div>
      </form>
    </div>
  </div>
{% endblock content %}
