{# 
  Contact

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/Contact
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
  {% set template_namespace = '@phpManufaktur/Basic/Template' %}
  {% set template_file = 'framework/body.twig' %}  
{% else %}
  {% set template_namespace = '@phpManufaktur/Contact/Template' %}
  {% set template_file = 'admin/body.twig' %}
{% endif %}
{% extends getTemplateFile(template_namespace, template_file) %}
{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/Contact/Template/default/css/form.horizontal.min.css' }}" />
  {% if fileExists(MANUFAKTUR_PATH ~ '/Contact/Template/' ~ FRAMEWORK_TEMPLATES.0 ~ '/css/admin.min.css') %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/Contact/Template/' ~ FRAMEWORK_TEMPLATES.0 ~ '/css/admin.min.css' }}" />
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/Contact/Template/default/css/admin.min.css' }}" />
  {% endif %}
{% endblock stylesheet %}
{% block title %}{{ 'Contact Administration - About'|trans }}{% endblock %}
  
{% block content %}
  <!-- {{ _self.getTemplateName() }} -->  
  <div class="container{% if usage != 'framework'%}-fluid{% endif %}">
    <h1>{{ 'Import contact records'|trans }}</h1>

    {{ alert }}

    <div class="panel panel-default">
      <div class="panel-body">
        {% if app.translator.locale == 'de' %}
          {# GERMAN #}
          <p>Sie können Kontaktdaten aus verschiedenen Datei Formaten oder aus einer KeepInTouch Installation in kitFramework Contact übernehmen.</p>
          <p>Bitte wählen Sie den gewünschten Import aus.</p>
        {% else %}
          {# ENGLISH #}
          <p>You can import contact records from different file formats or from an existing KeepInTouch installation into kitFramework Contact.</p>
          <p>Please select the import you want to perform.</p>
        {% endif %}
      </div>
    </div>

    {# assign the bootstrap 3 theming for horizontal forms to the Symfony Form Factory output #}  
    {% form_theme form '@phpManufaktur/Contact/Template/default/pattern/form.fields.horizontal.twig' %}

    <form action="{{ FRAMEWORK_URL ~ '/admin/contact/import/select' }}" class="form-horizontal" method="post" role="form">
      {{ form_widget(form) }}     

      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <button class="btn btn-default" type="submit">{{ 'Start import'|trans }}</button>
        </div>
      </div>
    </form> 
  </div>
{% endblock content %}