{#
  Event

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/Event
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
<p>{{ 'The event %title% was just published by the administrator'|trans({'%title%':event.description_title}) }}</p>
<p>{{ 'Visit the event description'|trans }}:</p>
<p><a href="{{ FRAMEWORK_URL }}/event/perma/id/{{ event.event_id }}">{{ event.description_title }}</a></p>