{#
  Contact

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/contact
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'framework/body.twig') %}
{% block stylesheet %}
    {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Contact/Template/default/backend/simple/css/contact.css" media="screen, projection" />
{% endblock %}

{% block content %}
  {% if form.vars.value.title_id > 0 %}
    <h1>{{ 'Edit the title %title_identifier%'|trans({'%title_identifier%':form.vars.value.title_identifier}) }}</h1>
  {% else %}
    <h1>{{ 'Create a new title'|trans }}</h1>
  {% endif %}
  {% if message|length > 0 %}
    <div class="message">{{ message }}</div>
  {% endif %}

  {% include '@phpManufaktur/Contact/Template/default/backend/form/edit.title.twig' %}

  <div>
    <p><a href="{{ FRAMEWORK_URL }}/admin/contact/simple/title/list">{{ 'Change to the overview'|trans }}</a></p>
  </div>
{% endblock content %}
