{#
  Contact

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/contact
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'framework/body.twig') %}
{% block stylesheet %}
    {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Contact/Template/default/backend/simple/css/list.css" media="screen, projection" />
{% endblock %}

{% block content %}
  <h1>{{ 'Title list'|trans }}</h1>
  {% if message|length > 0 %}
    <div class="message">{{ message }}</div>
  {% endif %}

  {% include '@phpManufaktur/Contact/Template/default/backend/form/list.title.twig' %}

  <div>
    <p><a href="{{ FRAMEWORK_URL }}/admin/contact/simple/title/edit">{{ 'Add a new title'|trans }}</a></p>
  </div>

{% endblock content %}
