{#
  Contact

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/contact
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'framework/body.twig') %}
{% block stylesheet %}
    {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Contact/Template/default/backend/simple/css/contact.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Contact/Template/default/backend/simple/css/select.contact.css" media="screen, projection" />
{% endblock %}

{% block content %}
  {% if message|length > 0 %}
    <div class="message">{{ message }}</div>
  {% else %}
    <div class="intro">{{ 'Please select the contact type you want to create.'|trans }}</div>
  {% endif %}
  {% include '@phpManufaktur/Contact/Template/default/backend/form/select.contact.twig' %}
{% endblock content %}
