{#
  TemplateTools
 
  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/TemplateTools
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#} 

{% extends "@pattern/bootstrap/html.simple.twig" %}

{% block body %}
   <div class="container">
      
      <div class="logo-container row">
        {# clickable logo and the name and path of the current template #}
        <div class="logo col-sm-3 hidden-xs">
          <a href="{{ CMS_URL }}" title="{{ CMS_TITLE }}">
            <img src="{{ MANUFAKTUR_URL }}/TemplateTools/extension.jpg" class="img-responsive" alt="TemplateTools" />
          </a>
        </div>
        <div class="template-name col-sm-9 col-xs-12">
          <div class="template-name-header">
            {{ TEMPLATE_NAME }}
          </div>
          <div class="template-name-path">
            {{ TEMPLATE_PATH }}
          </div>
        </div>
      </div>
      
      <div class="content row">
        <div class="main col-sm-9 col-sm-push-3">
          {# show a search dialog at the top right #}
          {% include('@pattern/bootstrap/search.div.twig') %}
          
          {# show a breadcrumb #}
          {{ bootstrap_breadcrumb() }}

          {# show the page content #}
          {{ page_content() }}
        </div>
        
        <div class="navigation col-sm-3 col-sm-pull-9">
          {# show a standard navigation with show_menu2() #}
          {{ show_menu2() }}
        </div>
        
      </div>
      
      <div class="footer row">
        <div class="col-sm-9 col-sm-offset-3">
          {# show a page footer defined in CMS Settings -> Website Footer #}
          {{ PAGE_FOOTER }}
        </div>
      </div>
      
    </div>
{% endblock body %}  