{# 
  kitFramework::Migrate

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'framework/body.twig') %}
{% block title %}{{ 'Please authenticate'|trans }}{% endblock %}
{% block content %}
  <!-- {{ _self.getTemplateName() }} -->
  <div class="container">
    <div class="page-header">
      <h1>{{ 'Please authenticate'|trans }}</h1>
    </div>
    
    {{ alert }}
    
    <div class="panel panel-default">
      <div class="panel-body">
        {% if app.translator.locale == 'de' %}
          {# GERMAN translation #}
          <p>Um das <em>kitFramework Migrationstool</em> nutzen zu können, müssen Sie sich zunächst authentifizieren.</p>
          <p>Hierzu geben Sie bitte die <var>FRAMEWORK_UID</var> im Eingabefeld ein.</p>
          <p>Sie finden die <var>FRAMEWORK_UID</var> in der Konfigurationsdatei <a href="https://github.com/phpManufaktur/kitFramework/wiki/kitFramework-%23-Configuration#frameworkjson" target="_blank"><var>framework.json</var></a>.</p>
        {% else %}
          {# ENGLISH translation #}
          <p>To use the <em>kitFramework Migrationtool</em> you must authenticate first.</p>
          <p>Please submit the <var>FRAMEWORK_UID</var>.</p>
          <p>You will find the <var>FRAMEWORK_UID</var> in the configuration file <a href="https://github.com/phpManufaktur/kitFramework/wiki/kitFramework-%23-Configuration#frameworkjson" target="_blank"><var>framework.json</var></a>.</p>
        {% endif %}
      </div>
    </div>
    
    {% if not authentication_locked %}  
      {% form_theme form '@phpManufaktur/Basic/Template/default/framework/form.fields.horizontal.twig' %}

      <form class="form-horizontal" action="{{ FRAMEWORK_URL ~ '/migrate.php/authenticate/check' }}/" method="post" role="form">
        {{ form_widget(form) }}
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <button type="submit" class="btn btn-default">{{ 'Submit'|trans }}</button>
          </div>
        </div>
      </form>
    {% else %}
      {% include '@phpManufaktur/Basic/Template/default/pattern/bootstrap/alert.twig' 
        with {content:'Too many invalid inputs - you are locked for this session!'|trans, type:'alert-danger'} only %}
    {% endif %}    
  </div>
{% endblock %}