<div class="media extension">
  <img class="pull-left" src="{% if item.logo_blob|length > 0 %}data:image/{{ item.logo_type }};charset=utf-8;base64,{{ item.logo_blob }}{% else %}{{ item.logo_url }}{% endif %}" width="{{ item.logo_width }}" height="{{ item.logo_height }}" alt="{{ item.description.title }}" />
  <div class="media-body">
    <h3 class="media-heading">{{ item.name }}</h3>
    {% if item.info.release is defined %}
      <div class="release"><strong>{{ item.info.release.number }}</strong>&nbsp;<small class="text-muted">({{ item.info.release.date|date('DATE_FORMAT'|trans) }})</small></div>
    {% endif %}
    <div class="description">
      {{ item.description.short }}    
    </div>
  </div>
  <div class="media-control">
    <a href="{{ FRAMEWORK_URL }}/admin/updater/update/{{ item.id }}?usage={{ usage }}" class="btn {% if item.update_available %}btn-success{% else %}btn-default disabled{% endif %}" role="button">{{ 'Update'|trans }}</a>
    <a href="{{ FRAMEWORK_URL }}/admin/updater/remove/{{ item.id }}?usage={{ usage }}" class="btn {% if item.name == 'Basic' %}btn-default disabled{% else %}btn-danger{% endif %}" role="button">{{ 'Remove'|trans }}</a>
  </div>
</div>