{#
  Contact

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/Contact
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}

{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'kitcommand/bootstrap/iframe.body.twig') %}
{% block title %}{{ 'Register a public contact record'|trans }}{% endblock %}
{% block description %}{{ 'Register a public contact record'|trans }}{% endblock %}
{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/Contact/Template/default/css/form.horizontal.min.css' }}" />
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Contact/Template/default/css/command.min.css" />
{% endblock %}  
{% block content %}
  <!-- {{ _self.getTemplateName() }} -->
  
  <h2>{{ 'Select tags'|trans }}</h2>
  
  {# need the parent to enable prompting messages #}
  {{ parent() }}
  
  <div class="panel panel-default">
    <div class="panel-body">
      {% if app.translator.locale == 'de' %}
        {# GERMAN #}
        <p>Bitte wählen Sie die zutreffenden Markierungen (#tags) aus.</p>
        <p>Die Markierungen ermöglichen eine einfache Klassifizierung und Suche.</p>
      {% else %}
        {# ENGLISH #}
        <p>Please select the tags to assign to your contact.</p>
        <p>The tags enable a simplified classification and search.</p>
      {% endif %}
    </div>
  </div>
  
  {# assign the bootstrap 3 theming for horizontal forms to the Symfony Form Factory output #}  
  {% form_theme form '@phpManufaktur/Contact/Template/default/pattern/form.fields.horizontal.twig' %}

  <form action="{{ FRAMEWORK_URL ~ '/contact/register/tags/check?pid=' ~ basic.pid }}" class="form-horizontal" method="post" role="form">
    {# loop through all form fields from the form.json #}
    {{ form_widget(form) }}     

    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <button class="btn btn-default" type="submit">{{ 'Select tags'|trans }}</button>
      </div>
    </div>
  </form>    
{% endblock %}