{#
  Contact

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/Contact
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}

{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'kitcommand/bootstrap/iframe.body.twig') %}
{% block title %}{{ 'Register a public contact record'|trans }}{% endblock %}
{% block description %}{{ 'Register a public contact record'|trans }}{% endblock %}
{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ LIBRARY_URL }}/jquery/ui/latest/themes/smoothness/jquery-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Contact/Template/default/css/command.min.css" />
{% endblock %}
{% block jquery %}
  {{ parent() }}
  <script type="text/javascript" src="{{ MANUFAKTUR_URL }}/CKEditor/Source/ckeditor.js"></script>
{% endblock jquery %}
{% block content %}
  <!-- {{ _self.getTemplateName() }} -->
  
  <form action="{{ FRAMEWORK_URL ~ '/contact/search?pid=' ~ basic.pid }}" class="form-inline" method="post" role="form">
    <div class="row">
    {% if use_categories and categories|length == 0 %}
      <div class="col-xs-3">
        <select name="category" class="form-control">
          <option value="-1">{{ '- no category -'|trans }}</option>
          {% for value, text in category_select %}
            <option value="{{ value }}">{{ text|humanize|trans }}</option>
          {% endfor %}  
        </select>
      </div>
    {% endif %}
    {% if use_tags and tags|length == 0 %}
      <div class="col-xs-3">
        <select name="tag" class="form-control">
          <option value="-1">{{ '- no tags -'|trans }}</option>
          {% for value, text in tag_select %}
            <option value="{{ value }}">{{ text|humanize|trans }}</option>
          {% endfor %}  
        </select>
      </div>
    {% endif %}    
    {% if (use_categories and categories|length == 0) and (use_tags and tags|length == 0) %} 
      <div class="col-xs-6">    
    {% elseif (use_categories and categories|length == 0) or (use_tags and tags|length == 0) %}
      <div class="col-xs-9">
    {% else %}
      <div class="col-xs-12">
    {% endif %}
        <div class="input-group">
          <input name="search" type="text" class="form-control" placeholder="{{ 'Search'|trans }}..." />
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" title="{{ 'Search'|trans }}"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
    </div>
  </form>   
   
  {{ basic.alert }}
         
  {% if contacts|length > 0 %}    
    <div class="table-responsive">
      <table class="table table-striped table-condensed table-hover">
        <thead>
          {% for head in columns %}
            <th>{{ head|humanize|trans }}</th>
          {% endfor %}  
        </thead>
        <tbody>
          {% for contact in contacts %}
            <tr>
              {% for key in columns %}
                <td class="{{ key }}">
                  {% if key == 'contact_id' %}
                    <a href="{{ FRAMEWORK_URL ~ '/contact/public/view/id/' ~ contact.contact_id  ~ '?&origin=' ~ basic.cms.page_url|url_encode() ~ '&search=' ~ search|url_encode() }}" target="_parent">{{ '%05d'|format(contact.contact_id) }}</a>
                  {% elseif (key == 'order_name') or (key == 'contact_name') %}
                    <a href="{{ FRAMEWORK_URL ~ '/contact/public/view/id/' ~ contact.contact_id  ~ '?&origin=' ~ basic.cms.page_url|url_encode() ~ '&search=' ~ search|url_encode() }}" target="_parent">{{ attribute(contact, key) }}</a>
                  {% elseif key == 'person_gender' %}
                    {{ attribute(contact, key)|trans }}  
                  {% elseif key == 'communication_email' %}
                    <a href="mailto:{{ contact.communication_email }}">{{ contact.communication_email }}</a>
                  {% else %}
                    {{ attribute(contact, key) }}
                  {% endif %}
                </td>
              {% endfor %}  
            </tr>
          {% endfor %}  
        </tbody>
      </table>
    </div> 
  {% endif %}
  
{% endblock content %}
{% block footer_jquery %}
  {{ parent() }}
  {# tablesorter #}
  <script src="{{ LIBRARY_URL ~ '/jquery/tablesorter/latest/js/jquery.tablesorter.js' }}"></script>
  <script src="{{ LIBRARY_URL ~ '/jquery/tablesorter/latest/js/jquery.tablesorter.widgets.js' }}"></script>
  <script type="text/javascript">
    $(function() {
      $.extend($.tablesorter.themes.bootstrap, {
        table      : 'table table-bordered',
        caption    : 'caption',
        header     : 'bootstrap-header',
        footerRow  : '',
        footerCells: '',
        icons      : '',
        sortNone   : 'bootstrap-icon-unsorted',
        sortAsc    : 'icon-chevron-up glyphicon glyphicon-chevron-up',
        sortDesc   : 'icon-chevron-down glyphicon glyphicon-chevron-down',
        active     : '',
        hover      : '',
        filterRow  : '',
        even       : '',
        odd        : '' 
      });

      $("table").tablesorter({
        theme : "bootstrap",
        widthFixed: true,
        headerTemplate : '{content} {icon}', 
        widgets : [ "uitheme", "zebra" ],  // add "filter" for additional filter row
        widgetOptions : {
          zebra : ["even", "odd"],
          filter_reset : ".reset"
        }
      })
    });
  </script>
{% endblock %}
