{#
  Contact

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/Contact
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}

{{ alert }}

<div class="alert alert-info">
  <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
  {# hint for the general search functions #}
  {% if app.translator.locale == 'de' %}
    {# german translation #}
    <div class="alert-item">Suchbegriffe die mit einem <i>Leerzeichen</i> oder dem <code>OR</code> Operator verknüpft werden, z.B. <code>berlin mustermann</code> finden Ergebnisse die zu einem <i>beliebigen</i> Begriff passen.</div>  
    <div class="alert-item">Suchbegriffe die mit einem <code>AND</code> Operator verknüpft werden, z.B. <code>berlin AND mustermann</code> finden Ergebnisse die zu <i>beiden</i> Begriffen passsen</div>
    <div class="alert-item">Suchbegriffe die mit einem <code>NOT</code> Operator verknüpft werden, z.B. <code>berlin NOT mustermann</code> finden Ergebnisse die zum ersten jedoch <i>nicht</i> zum zweiten Begriff passen.</div>
  {% else %}
    {# english translation #}
    <div class="alert-item">Search terms joined with a <i>space</i> or the <code>OR</code> operator, i.e. <code>berlin mustermann</code> will return search results which fit to <i>any</i> of the terms.</div>  
    <div class="alert-item">Search terms joined with a <code>AND</code> operator, i.e. <code>berlin AND mustermann</code> will return search results which fit to <i>both</i> terms.</div>
    <div class="alert-item">Search terms joined with a <code>NOT</code> operator, i.e. <code>berlin NOT mustermann</code> will return search results which fit to the first but <i>not</i> to the second term.</div>
  {% endif %}       
</div>

<div class=" pull-right">
  <form action="{{ FRAMEWORK_URL ~ route.contact.search }}" class="navbar-form navbar-left" role="form" method="post">
    <div class="input-group search-contact-small">
      <input class="form-control input-default" type="text" name="search" />
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
      </span>
    </div>
  </form>
</div> 
<div class="clearfix"></div>

{% if (list|length > 0) %}
  <div class="table-responsive">
    <table class="table table-striped table-condensed table-hover">
      <thead>
        <tr>  
          {% for head in list.0|keys %}
            {% if head in columns %}
              <th class="head">{{ head|lower|humanize|trans }}</th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for contact in list %}
          <tr>
            {% for column, value in contact %} 
              {% if column in columns %}
                {% if column == 'contact_id' %}
                  <td class="{{ column }}">
                    {% if contact.contact_type == 'PERSON' %}
                      <a href="{{ FRAMEWORK_URL ~ route.contact.person|replace({'{contact_id}':value}) }}">{{ '%05d'|format(value) }}</a>
                    {% else %}
                      <a href="{{ FRAMEWORK_URL ~ route.contact.company|replace({'{contact_id}':value}) }}">{{ '%05d'|format(value) }}</a>
                    {% endif %}
                  </td>
                {% elseif column == 'contact_type' %}
                  <td class="{{ column }}">{{ value|trans }}</td>
                {% elseif column == 'communication_email' %}
                  <td class="{{ column }}"><a href="mailto:{{ value }}">{{ value }}</a></td>
                {% else %}
                  <td class="{{ column }}">{{ value }}</td>
                {% endif %}
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
