{#
  Contact

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/Contact
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}

{{ alert }}

<div class="table-responsive">
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <th>{{ 'ID'|humanize|trans }}</th>
      <th>{{ 'Identifier'|trans }}</th>
      <th>{{ 'Short name'|trans }}</th>
      <th>{{ 'Short name (translated)'|trans }}</th>
      <th>{{ 'Long name'|trans }}</th>
      <th>{{ 'Long name (translated)'|trans }}</th>
    </thead>
    <tbody>
      {% for title in titles %}
        {% if title.title_identifier != 'NO_TITLE' %}
          <tr>
            <td class="title_id"><a href="{{ FRAMEWORK_URL }}{{ route.edit|replace({'{title_id}':title.title_id}) }}">{{ '%03d'|format(title.title_id) }}</a></td>
            <td class="title_identifier"><a href="{{ FRAMEWORK_URL }}{{ route.edit|replace({'{title_id}':title.title_id}) }}">{{ title.title_identifier|upper }}</a></td>
            <td class="title_short">{{ title.title_short }}</td>
            <td class="title_short translated">{{ title.title_short }} &rArr; {{ title.title_short|trans }}</td>
            <td class="title_long">{{ title.title_long }}</td>            
            <td class="title_long translated">{{ title.title_long }} &rArr; {{ title.title_long|trans }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>    
</div>