{#
  kfHelloWorld

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/HelloWorld
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'kitcommand/iframe.body.twig') %}
{% block title %}{{ 'iFrame Sample: Start'|trans }}{% endblock %}
{% block description %}{{ 'kitCommand Sample for the usage of iframes'|trans }}{% endblock %}
{% block keywords %}kitFramework,Sample,Hello World{% endblock %}
{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ THIRDPARTY_URL }}/HelloWorld/Template/default/css/hello.iframe.css" media="screen, projection" />
{% endblock stylesheet %}
{% block content %}
  {{ parent() }}
  <h2>{{ 'Hello World Sample for iFrames - Start'|trans }}</h2>
  <p>{{ 'Please click <a href="%link%">here</a> to load the next step.'|trans({'%link%':FRAMEWORK_URL ~ '/helloworld/iframe/step02?pid=' ~ basic.pid}) }}</p>
{% endblock content %}
