{#
  Contact

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/contact
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'framework/body.twig') %}
{% block stylesheet %}
    {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Contact/Template/default/backend/import/css/keepintouch.css" media="screen, projection" />
{% endblock %}

{% block content %}
  <h1>{{ 'Import contacts from KeepInTouch (KIT)'|trans }}</h1>
  {% if message|length > 0 %}
    <div class="message">{{ message }}</div>
  {% endif %}

  {% if app.translator.locale == 'de' %}
    {# german translation #}
    <p>Es existieren <b>{{ contacts.detected }}</b> KeepInTouch Datensätze, die in kitFramework <i>Contact</i> importiert werden können.</p>
    <p>Tatsächlich wurden <b>{{ contacts.imported }}</b> Datensätze importiert. Hierbei wurden alle Datensätze übersprungen, die bereits in <i>Contact</i> existieren.</p>
  {% else %}
    {# english translation #}
    <p>Detected <b>{{ contacts.detected }}</b> KeepInTouch contact records which can imported to kitFramework <i>Contact</i>.</p>
    <p>Really imported where <b>{{ contacts.imported }}</b>. Skipped records which are already exists.</p>
  {% endif %}

{% endblock content %}
