{#
  Contact

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/contact
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'framework/body.twig') %}
{% block stylesheet %}
    {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Contact/Template/default/backend/import/css/keepintouch.css" media="screen, projection" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <h1>{{ 'Import contacts from KeepInTouch (KIT)'|trans }}</h1>
  {% if message|length > 0 %}
    <div class="message">{{ message }}</div>
  {% endif %}
  {% if app.translator.locale == 'de' %}
    {# german translation #}
    <p><b>Achtung!</b></p>
    <p><i></i>kitFramework Contact verfügt über eine andere Datenstruktur als KeepInTouch (KIT).</p>
    <ul class="icons-ul">
      <li><i class="icon-li icon-warning-sign red"></i>Nur die <i>erste</i> markierte KIT Kategorie <i>Intern</i> wird in kitFramework Contact übernommen und als <i>Kategorie</i> gesetzt (Contact akzeptiert nur eine Kategorie)</li>
      <li><i class="icon-li icon-warning-sign red"></i>Die KIT Kategorien für <i>Newsletter</i> erhalten den Prefix <b>NL</b> und werden als Contact <i>Markierung (Tag)</i> übernommen</li>
      <li><i class="icon-li icon-warning-sign red"></i>Die KIT Kategorien für <i>Verteiler</i> werden als Contact <i>Markierung (Tag)</i> übernommen</li>
      <li><i class="icon-li icon-warning-sign red"></i>Wenn ein KIT Datensatz die Adressen für eine Firma und eine Person (Ansprechpartner) enthält, wird dieser Datensatz in zwei Contact Datensätze aufgeteilt: einen für die Person und einen für die Firma. Die beiden Datensätze referenzieren sich gegenseitig</li>
      <li><i class="icon-li icon-warning-sign red"></i>Es werden nur KIT Datensätze importiert, die als <i>Aktiv</i> oder <i>Gesperrt</i> gekennzeichnet sind. Als <i>gelöscht</i> gekennzeichnete Datensätze werden nicht übernommen.</li>
    </ul>
  {% else %}
    {# english translation #}
    <p><b>ATTENTION</b></p>
    <p>kitFramework Contact has another data structure than KeepInTouch (KIT).</p>
    <ul>
      <li>Only the <i>first checked</i> KIT category <i>intern</i> will be used as Contact <i>category</i> (Contact accepts only one category)</li>
      <li>The KIT categories for <i>newsletters</i> will get the prefix <b>NL</b> and added as Contact <i>Tag</i></li>
      <li>The KIT categories for <i>distribution</i> will be added as Contact <i>Tag</i></li>
      <li>If a KIT record contains the addresses of a company and a person, this record will be split into two Contact records: one for the person and one for the company, the both records reference each other.</li>
      <li>Imported will be only <i>active</i> or <i>locked</i> KIT records but no records which are marked as deleted.</li>
    </ul>
  {% endif %}

  {% if import_is_possible %}
    <p><i class="icon-puzzle-piece icon-3x pull-left"></i>&nbsp;<a href="{{ FRAMEWORK_URL }}/admin/contact/import/keepintouch/execute">{{ 'Start import from KeepInTouch'|trans }}</a></p>
  {% endif %}

{% endblock content %}
