{#
  TemplateTools

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/TemplateTools
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
<!DOCTYPE html>
{# set the locale for the current page #}
<html lang="{{ PAGE_LOCALE }}">
  <head>
    {% block meta %}
      {# declare the content type #}
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      {# declare the charset #}
      <meta charset="utf-8">
      {# IE support #}
      <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
      {# define the initial viewport #}
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      {# get the page title from CMS #}
      <title>{{ page_title() }}</title>
      {# get the page description from CMS #}
      <meta name="description" content="{{ page_description() }}" />
      {# get the page keywords from CMS #}
      <meta name="keywords" content="{{ page_keywords() }}" />

      {# declare the language for the CONTENT #}
      <meta name="language" content="{{ PAGE_LOCALE }}" />

      {# robots: index this page and follow all links #}
      <meta name="robots" content="{% block robots %}index,follow,noodp{% endblock %}" />

      {# Facebook Open Graph Meta Tags #}
      {% include '@pattern/classic/head.open.graph.twig' %}
    {% endblock meta %}

    {% block css %}
      {# normalize.css #}
      <link href="{{ LIBRARY_URL }}/normalize/latest/normalize.min.css" rel="stylesheet" />

      {# load CSS for the TemplateTools Pattern #}
      <link href="{{ MANUFAKTUR_URL }}/TemplateTools/Pattern/classic/css/pattern.min.css" rel="stylesheet" />

      {# load the css for the Ridiculously Responsive Social Sharing Buttons (rrssb) #}
      <link href="{{ LIBRARY_URL }}/rrssb/latest/css/rrssb.min.css" rel="stylesheet" />

      {# load the screen CSS for the template #}
      {% if file_exists(TEMPLATE_PATH ~ '/css/template.css') %}
        <link href="{{ TEMPLATE_URL }}/css/template.css" rel="stylesheet" />
      {% elseif file_exists(TEMPLATE_PATH ~ '/template.css') %}
        <link href="{{ TEMPLATE_URL }}/template.css" rel="stylesheet" />
      {% endif %}

      {# load the print CSS for the template #}
      {% if file_exists(TEMPLATE_PATH ~ '/css/print.css') %}
        <link href="{{ TEMPLATE_URL }}/css/print.css" rel="stylesheet" />
      {% elseif file_exists(TEMPLATE_PATH ~ '/print.css') %}
        <link href="{{ TEMPLATE_URL }}/print.css" rel="stylesheet" />
      {% endif %}

      {# register the frontend.css files for the CMS add-ons #}
      {{ register_frontend_modfiles('css') }}
    {% endblock css %}

    {% block jquery %}
      {# load the jQuery standard library #}
      <script src="{{ LIBRARY_URL }}/jquery/jquery/latest/jquery.min.js" type="text/javascript"></script>

      {# register the frontend.js files for the CMS add-ons #}
      {{ register_frontend_modfiles('js') }}
    {% endblock jquery %}

  </head>
  <body>
    {% block body %}
    {% endblock body %}
    {% block jquery_body %}
      {# load the jQuery for the Ridiculously Responsive Social Sharing Buttons (rrssb) #}
      <script src="{{ LIBRARY_URL }}/rrssb/latest/js/rrssb.min.js" type="text/javascript"></script>
    {% endblock jquery_body %}
  </body>
</html>

