<!-- {{ _self.getTemplateName() }} -->
{% set cols_exposed = 12/parameter.content_exposed %}
<div class="col-sm-{{ cols_exposed }}">
  <div class="thumbnail">
    {% if parameter.content_date %}
      <div class="content-date">
        {{ content.publish_from|date('DATE_FORMAT'|trans) }}
      </div>
    {% endif %}
    {% if parameter.content_image and content.teaser_image|length > 0 %}
      {% if content.teaser_image_url is defined %}
        {% set img_url = content.teaser_image_url %}
      {% else %}
        {% set img = image(content.teaser_image, parameter.content_image_max_width, parameter.content_image_max_height) %}
        {% set img_url = img.src %}
      {% endif %}
      {% if url|length > 0 %}<a href="{{ url }}" target="{{ target }}">{% endif %}
        <img class="img-responsive img-rounded" src="{{ img_url }}" alt="{{ content.title }}" title="{{ content.title }}" />
      {% if url|length > 0 %}</a>{% endif %}
    {% endif %}
    <div class="caption">
      {% if parameter.content_categories %}
        <div class="content-categories">
          {% for category in content.categories %}
            <span class="label {% if loop.first %}label-primary{% elseif loop.index < 4 %}label-info{% else %}label-default{% endif %}">
              {# attach the actual content ID with ?i= #}
              <a href="{% if category.category_permalink_url is defined %}{{ category.category_permalink_url }}{% else %}{{ permalink_base_url ~ '/category/' ~ category.category_permalink }}{% endif %}" title="{{ category.category_description|ellipsis }}">{{ category.category_name }}</a>
            </span>
          {% endfor %}
        </div>
      {% endif %}
      {% if parameter.content_title %}
        {% if url|length > 0 %}<a href="{{ url }}" target="{{ target }}">{% endif %}
          <h{{ parameter.title_level+1|default('2') }}>{{ content.title|default('') }}</h{{ parameter.title_level+1|default('1') }}>
        {% if url|length > 0 %}</a>{% endif %}
      {% endif %}
      {% if content.event_date_from is defined %}
        <div class="event-info">
          {% set date_from = '<i class="fa fa-calendar-o"></i>  ' ~ content.event_date_from|date('DATE_FORMAT'|trans) %}
          {% if content.event_location.contact_name is defined %}
            {{ date_from ~ ', ' ~ content.event_location.contact_name }} 
          {% else %}
            {{ date_from }}
          {% endif %}
          {% include '@phpManufaktur/flexContent/Template/default/command/content.schema.org.twig' %}
        </div>
      {% endif %}
      {% if parameter.content_description and content.description|length > 0 %}
        <div class="well well-sm">
          {{ content.description }}
        </div>
      {% endif %}  
      {% if (parameter.content_view == 'teaser') or (parameter.content_view == 'content') %}
        {% if parameter.content_view == 'teaser' %}
          {{ content.teaser }}
        {% else %}
          {{ content.content }}
        {% endif %}
        {% if url|length > 0 %}
          <div class="go-ahead">
            <a href="{{ url }}" target="{{ target }}">{{ 'read more'|trans }} ...</a>
          </div>
        {% endif %}
      {% endif %}
      {% if parameter.content_tags and content.tags|length > 0 %}
        <div class="content-tags">
          {% for tag in content.tags %}
            <span class="label {% if loop.first %}label-primary{% elseif loop.index < 4 %}label-info{% else %}label-default{% endif %}">
              {# attach the primary category ?c= and the actual content ID &i= #}
              <a href="{% if tag.tag_permalink_url is defined %}{{ tag.tag_permalink_url }}{% else %}{{ permalink_base_url ~ '/buzzword/' ~ tag.tag_permalink }}{% endif %}" title="{{ tag.tag_description|ellipsis }}">{{ tag.tag_name }}</a>
            </span>
          {% endfor %}
        </div> 
      {% endif %}
    </div>
  </div>
</div>  
