{#
  flexContent

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/flexContent
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}

{% spaceless %}
<!-- {{ _self.getTemplateName() }} -->
<div id="flexcontent">
  <div class="container-fluid">
    {{ basic.alert }}
    {% if content.content|default('')|length > 0 %}
      {% if parameter.content_categories %}
        <div class="header-categories">
          {% for category in content.categories %}
            <span class="label {% if loop.first %}label-primary{% elseif loop.index < 4 %}label-info{% else %}label-default{% endif %}">
              {# attach the actual content ID with ?i= #}
              <a href="{{ permalink_base_url ~ '/category/' ~ category.category_permalink }}" title="{{ category.category_description|ellipsis }}">{{ category.category_name }}</a>
            </span>
          {% endfor %}
        </div>
      {% endif %}
      {% if parameter.content_title %}
        <div class="header">
          <h{{ parameter.title_level|default('1') }}>{{ content.title|default('') }}</h{{ parameter.title_level|default('1') }}>
        </div>
      {% endif %}
      {% if content.event_date_from is defined %}
        <div class="event-info">
          {% set date_from = '<i class="fa fa-calendar-o"></i>  ' ~ content.event_date_from|date('DATE_FORMAT'|trans) %}
          {% if content.event_location.contact_name is defined %}
            {{ date_from ~ ', ' ~ content.event_location.contact_name }} 
          {% else %}
            {{ date_from }}
          {% endif %}          
        </div>         
        {% include '@phpManufaktur/flexContent/Template/default/command/content.schema.org.twig' %} 
      {% endif %}
      {% if parameter.content_description %}
        {% if content.description|length > 0 %}
          <div class="well well-sm">{{ content.description|default('') }}</div>
        {% endif %}
      {% endif %}
          
      {# the full content text #} 
      {% if config.kitcommand.content.kitcommand.enabled %}  
        {# enable kitCommands in config.flexcontent.json if you want to execute 
           kitCommands within the flexContent main content ... #}
        {{ kitCommandParser(content.content|default('')) }}
      {% else %}
        {{ content.content|default('') }}
      {% endif %}             
          
      {% if parameter.content_author %}
        <div class="small text-right text-muted">
          {% if parameter.content_date %}
            {{ author ~ ', ' ~ content.publish_from|date('DATE_FORMAT'|trans) }}
          {% else %}
            {{ author }}
          {% endif %}
        </div>  
      {% elseif parameter.content_date %}
        <div class="small text-right text-muted">
          {{ content.publish_from|date('DATE_FORMAT'|trans) }}    
        </div>  
      {% endif %}  
      
      {% if parameter.content_tags %}
        <div class="content-tags">
          {% for tag in content.tags %}
            <span class="label {% if loop.first %}label-primary{% elseif loop.index < 4 %}label-info{% else %}label-default{% endif %}">
              {# attach the primary category ?c= and the actual content ID &i= #}
              <a href="{{ permalink_base_url ~ '/buzzword/' ~ tag.tag_permalink }}" title="{{ tag.tag_description|ellipsis }}">{{ tag.tag_name }}</a>
            </span>
          {% endfor %}
        </div>  
      {% endif %}
      
      {% if parameter.content_rating %}    
        <div class="content-rating">  
          {% set rating = config.kitcommand.parameter.action.view.content_rating %}
          {{ kitCommand('rating', {'id':content.content_id,'type':'flexContent','maximum_rate':rating.maximum_rate,'size':rating.size,'stars':rating.stars,'step':rating.step,'template':rating.template}) }}  
        </div>
      {% endif %}
          
      {% if parameter.content_control %}
        <div class="btn-toolbar pull-center" role="toolbar">
          <div class="btn-group btn-group-sm">
            {% if control.previous.permalink is defined %}
              <a class="btn btn-default" href="{{ permalink_base_url ~ '/' ~ control.previous.permalink }}" title="{{ control.previous.title|ellipsis }}"><i class="fa fa-arrow-left"></i> {{ 'Previous article'|trans }}</a>
            {% else %}
              <button type="button" class="btn btn-default disabled"><i class="fa fa-arrow-left"></i> {{ 'Previous article'|trans }}</button>
            {% endif %}

            {% if control.category.category_permalink is defined %}
              {# attach the actual content ID ?i= #}
              <a class="btn btn-default" href="{{ permalink_base_url ~ '/category/' ~ control.category.category_permalink }}" title="{{ control.category.category_name|ellipsis }}"><i class="fa fa-list"></i> {{ 'Overview'|trans }}</a>
            {% else %}
              <button type="button" class="btn btn-default disabled"><i class="fa fa-list"></i> {{ 'Overview'|trans }}</button>  
            {% endif %}

            {% if control.next.permalink is defined %}
              <a class="btn btn-default" href="{{ permalink_base_url ~ '/' ~ control.next.permalink }}" title="{{ control.next.title|ellipsis }}">{{ 'Next article'|trans }} <i class="fa fa-arrow-right"></i></a>
            {% else %}
              <button type="button" class="btn btn-default disabled">{{ 'Next article'|trans }} <i class="fa fa-arrow-right"></i></button>
            {% endif %}
          </div>    
          {% if parameter.content_permalink %}
            <div class="btn-group btn-group-sm">
              <a class="btn btn-default" href="{{ permalink_base_url ~ '/' ~ content.permalink }}" title="{{ 'Permanent link to this article'|trans }}">&nbsp;<i class="fa fa-link"></i>&nbsp;</a>
            </div>
          {% endif %}       
        </div>
      {% elseif parameter.content_permalink %}
        <div class="content permalink">
          <a href="{{ permalink_base_url ~ '/' ~ content.permalink }}" title="{{ 'Permanent link to this article'|trans }}"><i class="fa fa-link"></i></a>
        </div>  
      {% endif %}    
      
      {% if parameter.content_comments %}    
        <div class="content-comments">
          {% set comments = config.kitcommand.parameter.action.view.content_comments %}    
          {{ kitCommand('comments', {'id':content.content_id,'type':'FLEXCONTENT','captcha':comments.captcha,'gravatar':comments.gravatar,'publish':comments.publish,'rating':comments.rating,'message':parameter.comments_message}) }}
        </div>  
      {% endif %}
          
    {% endif %}
  </div>
</div>
{% endspaceless %}
