{#
  flexContent

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/flexContent
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% spaceless %}
<!-- {{ _self.getTemplateName() }} -->
{% if category|length > 0 %}
  {% if parameter.category_description and category.category_description|length > 0 %}
    <div class="media">
      {% if parameter.category_image and category.category_image|length > 0 %}
        {% set img = image(category.category_image, parameter.category_image_max_width, parameter.category_image_max_height) %}
        <img class="media-object pull-right img-thumbnail" src="{{ img.src }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ category.category_name }}" title="{{ category.category_name }}" />
      {% endif %}
      <div class="media-body">
        {% if parameter.category_name %}
          <h{{ parameter.title_level|default('1') }} class="media-heading">{{ category.category_name|default('') }}</h{{ parameter.title_level|default('1') }}>
        {% endif %}
        {{ category.category_description|default('') }}
      </div>
    </div>
  {% elseif parameter.category_name %}
    <h{{ parameter.title_level|default('1') }}>{{ category.category_name|default('') }}</h{{ parameter.title_level|default('1') }}>
  {% endif %}
{% endif %}
<div id="flexcontent">
  <div class="container-fluid">
    {{ basic.alert }}
    {% if faqs|length > 0 %}
      <div class="panel-group" id="accordion">
        {% for faq in faqs %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h{{ parameter.title_level+2|default('3') }} class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#question_{{ loop.index }}">
                  {{ faq.title }}
                </a>
              </h{{ parameter.title_level+2|default('3') }}>
            </div>
            <div id="question_{{ loop.index }}" class="panel-collapse collapse{% if loop.index == 1 %} in{% endif %}">
              <div class="panel-body">
                
                {% if parameter.content_categories %}
                  {# show the categories for this FAQ #}
                  <div class="header-categories">
                    {% for category in faq.categories %}
                      <span class="label {% if loop.first %}label-primary{% elseif loop.index < 4 %}label-info{% else %}label-default{% endif %}">
                        {# attach the actual content ID with ?i= #}
                        <a href="{% if category.category_permalink_url is defined %}{{ category.category_permalink_url }}{% else %}{{ permalink_base_url ~ '/category/' ~ category.category_permalink }}{% endif %}" title="{{ category.category_description|ellipsis }}">{{ category.category_name }}</a>
                      </span>
                    {% endfor %}
                  </div>
                {% endif %}

                {% if parameter.content_image and faq.teaser_image|length > 0 %}
                  {% if faq.teaser_image_url is defined %}
                    {% set img_url = faq.teaser_image_url %}
                  {% else %}
                    {% set img = image(faq.teaser_image, parameter.content_image_max_width, parameter.content_image_max_height) %}
                    {% set img_url = img.src %}
                  {% endif %}
                  {# add the margin, padding and border of img-thumbnail to the max-width! #}
                  <div class="pull-right" style="max-width:{{ parameter.content_image_max_width+30 }}px;max-height:{{ parameter.content_image_max_height }}px;">
                    <img class="img-responsive img-thumbnail" src="{{ img_url }}" alt="{{ faq.title }}" title="{{ faq.title }}" />
                  </div>
                {% endif %}
                
                {% if parameter.content_view == 'teaser' or (parameter.content_view == 'content' and faq.content|length < 1) %}
                  {# show the teaser as FAQ content #}
                  {{ faq.teaser }}  
                  {% if faq.content|length > 0 or faq.redirect_url|length > 0 %}
                    {# there is more content available ... #}
                    {% if faq.redirect_url|length > 0 %}
                      {% set url = faq.redirect_url %}
                      {% set target = faq.redirect_target %}
                    {% else %}
                      {% if faq.permalink_url is defined %}
                        {% set url = faq.permalink_url %}
                      {% else %}
                        {% set url = permalink_base_url ~ '/' ~ faq.permalink %}
                      {% endif %}
                      {% if basic.cms.page_visibility in ['private','registered'] %}
                        {# add the PID for protected pages to enable the permanent link class to authenticate the user #}            
                        {% set url = url ~ '?pid=' ~ basic.pid %}
                      {% endif %}
                      {% set target = '_self' %}
                    {% endif %}   
                    <div class="go-ahead">
                      <a href="{{ url }}" target="{{ target }}">{{ 'read more'|trans }} ...</a>
                    </div>
                  {% endif %}
                {% elseif parameter.content_view == 'content' %}
                  {% if config.kitcommand.content.kitcommand.enabled %}  
                    {{ kitCommandParser(faq.content) }}
                  {% else %}
                    {{ faq.content }}
                  {% endif %}
                {% endif %}
                
                {% if parameter.content_author %}
                  <div class="small text-right text-muted">
                    {% if parameter.content_date %}
                      {{ faq.author ~ ', ' ~ faq.publish_from|date('DATE_FORMAT'|trans) }}
                    {% else %}
                      {{ faq.author }}
                    {% endif %}
                  </div>  
                {% elseif parameter.content_date %}
                  <div class="small text-right text-muted">
                    {{ faq.publish_from|date('DATE_FORMAT'|trans) }}    
                  </div>  
                {% endif %}
                
                {% if parameter.content_tags %}
                  <div class="content-tags">
                    {% for tag in faq.tags %}
                      <span class="label {% if loop.first %}label-primary{% elseif loop.index < 4 %}label-info{% else %}label-default{% endif %}">
                        <a href="{% if tag.tag_permalink_url is defined %}{{ tag.tag_permalink_url }}{% else %}{{ permalink_base_url ~ '/buzzword/' ~ tag.tag_permalink }}{% endif %}" title="{{ tag.tag_description|ellipsis }}">{{ tag.tag_name }}</a>
                      </span>
                    {% endfor %}
                  </div>  
                {% endif %}
                
                {% if parameter.content_rating %}    
                  <div class="content-rating">  
                    {% set rating = config.kitcommand.parameter.action.faq.content_rating %}
                    {{ kitCommand('rating', {'id':faq.content_id,'type':'FLEXCONTENT','maximum_rate':rating.maximum_rate,'size':rating.size,'stars':rating.stars,'step':rating.step,'template':rating.template}) }}  
                  </div>
                {% endif %}
                
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      
      {% if category|length > 0 %}
    
        {% if parameter.faq_rating %}    
          <div class="content-rating">  
            {% set rating = config.kitcommand.parameter.action.faq.faq_rating %}
            {{ kitCommand('rating', {'id':category.category_id,'type':'FLEXCONTENT_FAQ','maximum_rate':rating.maximum_rate,'size':rating.size,'stars':rating.stars,'step':rating.step,'template':rating.template}) }}  
          </div>
        {% endif %}
    
        {% if parameter.faq_comments %}    
          <div class="content-comments">
            {% set comments = config.kitcommand.parameter.action.faq.faq_comments %}    
            {{ kitCommand('comments', {'id':category.category_id,'type':'FLEXCONTENT_FAQ','captcha':comments.captcha,'gravatar':comments.gravatar,'publish':comments.publish,'rating':comments.rating,'message':parameter.comments_message}) }}
          </div>  
        {% endif %}
    
      {% endif %}
    
    {% endif %}
  </div>
</div>
{% endspaceless %}