{#
  flexContent

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/flexContent
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% spaceless %}
  <!-- {{ _self.getTemplateName() }} -->
  {{ basic.alert }}
  {% if tags|length > 0 %}
    <div id="enumeration-tags">
      {% for tag in tags %}
        <span class="label tag {% if loop.first %}label-primary{% elseif loop.index < 4 %}label-info{% else %}label-default{% endif %}">
          <a href="{{ permalink_base_url ~ '/buzzword/' ~ tag.tag_permalink }}" title="{{ tag.tag_description|ellipsis }}">{{ tag.tag_name }}</a>
        </span>
      {% endfor %}
    </div>
  {% endif %}
{% endspaceless %}