{#
  flexContent

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/flexContent
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% spaceless %}
<!-- {{ _self.getTemplateName() }} -->
<div id="flexcontent">
  <div class="container-fluid">    
      
    {{ basic.alert }}

    {% if parameter.tag_description and tag.tag_description|length > 0 %}
      <div class="media">
        {% if parameter.tag_image and tag.tag_image|length > 0 %}
          {% set img = image(tag.tag_image, parameter.tag_image_max_width, parameter.tag_image_max_height) %}
          <img class="media-object pull-right img-thumbnail" src="{{ img.src }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ tag.tag_name }}" title="{{ tag.tag_name }}" />
        {% endif %}
        <div class="media-body">
          {% if parameter.tag_name %}
            <h{{ parameter.title_level|default('1') }} class="media-heading">{{ tag.tag_name|default('') }}</h{{ parameter.title_level|default('1') }}>
          {% endif %}
          {{ tag.tag_description|default('') }}
        </div>
      </div>
    {% elseif parameter.tag_name %}
      <h{{ parameter.title_level|default('1') }}>{{ tag.tag_name|default('') }}</h{{ parameter.title_level|default('1') }}>
    {% endif %}
      
    {% if contents|length > 0 %}
      {% for content in contents %}
        {% if content.redirect_url|length > 0 %}
          {% set url = content.redirect_url %}
          {% set target = content.redirect_target %}
        {% else %}
          {% set url = permalink_base_url ~ '/' ~ content.permalink %}
          {% if basic.cms.page_visibility in ['private','registered'] %}
             {# add the PID for protected pages to enable the permanent link class to authenticate the user #}            
             {% set url = url ~ '?pid=' ~ basic.pid %}
          {% endif %}
          {% set target = '_self' %}
        {% endif %}   
        {% if loop.index == 1 %}<div class="row">{% endif %}
        {% if loop.index < parameter.content_exposed+1 %}  
          {# expose items in columns #}
          {% include '@phpManufaktur/flexContent/Template/default/command/content.exposed.twig' %}
        {% endif %}
        {% if loop.index == parameter.content_exposed %}</div>{% endif %}
        {% if loop.index > parameter.content_exposed %}
          {# show all other content items in a smaller list #}
          {% include '@phpManufaktur/flexContent/Template/default/command/content.item.twig' %}
        {% endif %}
      {% endfor %}
      {# if we have only one exposed content we must close the row here ... #}
      {% if contents|length < 2 %}</div>{% endif %}
    {% endif %}  
  
  </div>
  
</div>
{% endspaceless %}