{#
  Event

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/Event
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
  {% set template_namespace = '@phpManufaktur/Basic/Template' %}
  {% set template_file = 'framework/body.twig' %}
{% else %}
  {% set template_namespace = '@phpManufaktur/Event/Template' %}
  {% set template_file = 'admin/body.twig' %}
{% endif %}
{% extends getTemplateFile(template_namespace, template_file) %}
{% block stylesheet %}
  {{ parent() }}
  {% if fileExists(MANUFAKTUR_PATH ~ '/Event/Template/' ~ FRAMEWORK_TEMPLATES.0 ~ '/css/admin.min.css') %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/Event/Template/' ~ FRAMEWORK_TEMPLATES.0 ~ '/css/admin.min.css' }}" media="screen, projection" />
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/Event/Template/default/css/admin.min.css' }}" media="screen, projection" />
  {% endif %}
{% endblock stylesheet %}
{% block title %}{{ 'Event Administration - About'|trans }}{% endblock %}

{% block content %}
  <!-- {{ _self.getTemplateName() }} -->
  <div class="container{% if usage != 'framework'%}-fluid{% endif %}">
    {% include '@phpManufaktur/Event/Template/default/admin/toolbar.twig' %}

    <div class="height-15"></div>

    {{ alert }}

    {% if proposes|length < 1 %}
      {% include '@phpManufaktur/Basic/Template/default/pattern/bootstrap/alert.twig'
        with {content:'At the moment there are no proposed events'|trans} only %}
    {% else %}
      <div class="table-responsive">
        <table class="table table-striped table-condensed table-hover">
          <thead>
            <tr>
              <th>{{ 'Date'|trans }}</th>
              <th class="right">{{ 'Submitter ID'|trans }}</th>
              <th>{{ 'Submitter Status'|trans }}</th>
              <th>{{ 'Admin Status'|trans }}</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th class="right">{{ 'Event ID'|trans }}</th>
              <th>{{ 'Event Title'|trans }}</th>
              <th>{{ 'Date'|trans }}</th>
              <th class="right">{{ 'Organizer ID'|trans }}</th>
              <th class="right">{{ 'Location ID'|trans }}</th>
            </tr>
          </thead>
          <tbody>
            {% for item in proposes %}
              <tr>
                <td>{{ item.propose.submitted_when|date('DATETIME_FORMAT'|trans) }}</td>
                <td class="right{% if item.submitter.contact_status == 'PENDING' %} pending{% endif %}"><a href="{{ FRAMEWORK_URL ~ '/admin/event/contact/edit/id/' ~ item.propose.submitter_id ~ '?usage=' ~ usage }}">{{ item.propose.submitter_id }}</a></td>
                <td class="{{ item.propose.submitter_status|lower }}" title="{{ item.propose.submitter_status_when|date('DATETIME_FORMAT'|trans) }}">{{ item.propose.submitter_status }}</td>
                <td class="{{ item.propose.admin_status|lower }}" title="{{ item.propose.admin_status_when|date('DATETIME_FORMAT'|trans) }}">{{ item.propose.admin_status }}</td>
                {% if item.propose.admin_status == 'PENDING' %}
                  <td title="{{ 'Publish the event'|trans }}"><a href="{{ FRAMEWORK_URL ~ '/event/propose/publish/' ~ item.propose.admin_guid }}" target="_blank"><li class="fa fa-check"></li></a></td>
                  <td title="{{ 'Reject this event'|trans }}"><a href="{{ FRAMEWORK_URL ~ '/event/propose/reject/' ~ item.propose.admin_guid }}" target="_blank"><li class="fa fa-times"></li></a></td>
                {% else %}
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                {% endif %}
                <td class="right"><a href="{{ FRAMEWORK_URL ~ '/admin/event/edit/id/' ~ item.event.event_id ~ '?usage=' ~ usage }}">{{ item.event.event_id }}</a></td>
                <td>{{ item.event.description_title }}</td>
                <td>{{ item.event.event_date_from|date('DATETIME_FORMAT'|trans) }}</td>
                {% if item.organizer.contact_id is defined %}
                  <td class="right{% if item.organizer.contact_status == 'PENDING' %} pending{% endif %}"><a href="{{ FRAMEWORK_URL ~ '/admin/event/contact/edit/id/' ~ item.organizer.contact_id ~ '?usage=' ~ usage }}">{{ item.organizer.contact_id }}</a></td>
                {% else %}
                  <td>&nbsp;</td>
                {% endif %}
                {% if item.location.contact_id is defined %}
                  <td class="right{% if item.location.contact_status == 'PENDING' %} pending{% endif %}"><a href="{{ FRAMEWORK_URL ~ '/admin/event/contact/edit/id/' ~ item.location.contact_id ~ '?usage=' ~ usage }}">{{ item.location.contact_id }}</a></td>
                {% else %}
                  <td>&nbsp;</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
{% endblock content %}
