{#
  MediaBrowser

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/MediaBrowser
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
    {% set template_namespace = '@phpManufaktur/Basic/Template' %}
    {% set template_file = 'framework/body.twig' %}
{% else %}
    {% set template_namespace = '@phpManufaktur/MediaBrowser/Template' %}
    {% set template_file = 'backend.body.twig' %}
{% endif %}
{% extends getTemplateFile(template_namespace, template_file) %}
{% block title %}{{ 'kitFramework MediaBrowser'|trans }}{% endblock %}
{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/MediaBrowser/Template/default/css/browser.min.css" media="screen, projection" />
{% endblock stylesheet %}

{% block content %}
  <div class="container">
    
    {{ alert }}
    
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        {# select directory #}
        <ul class="media-list">
          {% for directory in directories %}
            <li class="media">
              {% if directory.basename == '..' %}
                <a class="pull-left" href="{{ directory.link.change }}" title="{{ directory.basename }}">
                  <span class="glyphicon glyphicon-arrow-up"></span>                  
                </a>
                <div class="media-body">
                  <a href="{{ directory.link.change }}" title="{{ 'one level up'|trans }}">{{ 'one level up'|trans }}</a>
                </div>
              {% else %}
                <a class="pull-left" href="{{ directory.link.change }}" title="{{ directory.basename }}">
                  <span class="glyphicon glyphicon-folder-close"></span>
                </a>
                <div class="media-body">
                  <a class="pull-right" href="{{ directory.link.delete }}" title="{{ 'Delete directory: %directory%'|trans({'%directory%':directory.basename}) }}">
                    <span class="glyphicon glyphicon-trash"></span>                  
                  </a>
                  <a href="{{ directory.link.change }}" title="{{ directory.basename }}">{{ directory.basename }}</a>
                </div>
              {% endif %}             
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        {# system operation #}
        <div class="exit">
          <a class="btn btn-default" href="{{ action.exit }}" title="{{ 'Exit MediaBrowser'|trans }}">{{ 'Exit MediaBrowser'|trans }}</a>        
        </div>
        <div class="upload">
          <form action="{{ action.upload }}" method="post" {{ form_enctype(upload) }} role="form">
            {{ form_errors(upload) }}            
            <div class="form-group">
              {{ form_label(upload.media_file) }}
              {{ form_widget(upload.media_file, {'attr':{'class':'form-control input-sm'}}) }}
            </div>
            <div class="form-group text-right">
              <input class="form-control btn btn-default" type="submit" value="{{ 'Submit file'|trans }}" />
            </div>
            {{ form_rest(upload) }}
          </form>
        </div>
        <div class="create">
          <form action="{{ action.directory }}" method="post" role="form">
            {{ form_errors(create_directory) }}
            <div class="form-group">
              {{ form_label(create_directory.create_directory) }}
              {{ form_widget(create_directory.create_directory, {'attr':{'class':'form-control input-sm'}}) }}
            </div>
            <div class="form-group text-right">
              <input class="form-control btn btn-default" type="submit" value="{{ 'Create directory'|trans }}" />
            </div>{{ form_rest(create_directory) }}
          </form>
        </div>
      </div>
    </div>
      
    <ul class="media-list">
      <li class="media text-muted">
        <span class="pull-left glyphicon glyphicon-folder-open"></span>
        <div class="media-body">
          {{ actual_directory }}
        </div>
      </li>
    </ul>

    {% if images|length < 1 %}
      <div class="alert alert-info">
        {{ 'This directory does not contain any media files.'|trans }}
      </div>
    {% endif %}
    
    <div class="visible-lg visible-md">
      {# large and medium devices #}
      {% set counter = 1 %}
      {% for image in images %}
        {% if counter == 1 %}
          <div class="row">
        {% endif %}          
        <div class="col-lg-2 col-md-2">
          {% include '@phpManufaktur/MediaBrowser/Template/default/browser.item.twig' %}
        </div>
        {% if counter == 6 %}
          </div>
          {% set counter = 1 %}
        {% else %}
          {% set counter = counter + 1 %}
        {% endif %}
      {% endfor %}
      {% if counter != 1 %}</div>{% endif %}
    </div>  
    
    <div class="visible-sm">
      {# small devices #}
      {% set counter = 1 %}
      {% for image in images %}
        {% if counter == 1 %}
          <div class="row">
        {% endif %}          
        <div class="col-sm-3">
          {% include '@phpManufaktur/MediaBrowser/Template/default/browser.item.twig' %}
        </div>
        {% if counter == 4 %}
          </div>
          {% set counter = 1 %}
        {% else %}
          {% set counter = counter + 1 %}
        {% endif %}
      {% endfor %}
      {% if counter != 1 %}</div>{% endif %}
    </div>  
      
    <div class="visible-xs">
      {# xtra small devices #}
      {% set counter = 1 %}
      {% for image in images %}
        {% if counter == 1 %}
          <div class="row">
        {% endif %}          
        <div class="col-xs-6">
          {% include '@phpManufaktur/MediaBrowser/Template/default/browser.item.twig' %}
        </div>
        {% if counter == 2 %}
          </div>
          {% set counter = 1 %}
        {% else %}
          {% set counter = counter + 1 %}
        {% endif %}
      {% endfor %}
      {% if counter != 1 %}</div>{% endif %}
    </div>  
  </div>
{% endblock content %}