{#
  Event

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/Event
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}

{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'kitcommand/iframe.body.twig') %}
{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Event/Template/default/command/css/event.propose.css" media="screen, projection" />
  <link href="{{ LIBRARY_URL ~ '/font-awesome/latest/css/font-awesome.min.css' }}" rel="stylesheet">  
{% endblock stylesheet %}
{% block content %}
  <!-- {{ _self.getTemplateName() }} -->  
  {% if app.translator.locale == 'de' %}
    {# german translation #}
    <h2>Veranstaltungsvorschlag bestätigt</h2>
    {{ parent() }}
    {% if basic.message|length < 1 %}
      <div class="iframe_content message">
        <p>Der Veranstaltungsvorschlag <strong>{{ event.description_title }}</strong> mit der ID <strong>{{ event.event_id }}</strong> wurde von Ihnen bestätigt.</p>
        <p>Ihr Vorschlag wird nun von einem Administrator geprüft und veröffentlicht. Sie erhalten zeitnah eine E-Mail.</p>
      </div>
    {% endif %}    
  {% else %}
    {# english language #}
    <h2>Proposed event confirmed</h2>
    {{ parent() }}
    {% if basic.message|length < 1 %}
      <div class="iframe_content message">
        <p>The proposed event {{ event.description_title }} with the ID {{ event.event_id }} was confirmed by you.</p>
        <p>The propose will be checked by an administrator and published. You will get an email in short time.</p>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
