{#
  Event

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/Event
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}

{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'kitcommand/iframe.body.twig') %}
{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Event/Template/default/command/css/event.login.css" media="screen, projection" />
{% endblock stylesheet %}
{% block content %}
  <!-- {{ _self.getTemplateName() }} -->  
  {{ parent() }}
  <div class="event_form">
    <h2>{{ 'Login'|trans }}</h2>
    <p>{{ 'You need a account if you want to edit events. In general we will give accounts to all event organizers, locations and persons which submit events frequently.'|trans }}</p>
    <p class="smaller right"><a href="{{ route.new_account }}">{{ 'Please feel free to order a account.'|trans }}</a></p>
    <form action="{{ route.form_action }}" method="post">
      {{ form_widget(form) }}     
      <div>
        <label for="submit">&nbsp;</label>
        <input type="submit" name="submit" />
      </div>
      <div class="clear"></div>
    </form>
    <p class="smaller right"><a href="{{ route.new_password }}">{{ 'Forgot your password?'|trans }}</a></p>
  </div>
{% endblock %}
{% block footer %}
  {{ parent() }} 
{% endblock footer %} 