{#
  Event

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/Event
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'kitcommand/iframe.body.twig') %}
{% block title %}{{ event.description_title }}{% endblock %}
{% block description %}{{ event.description_short }}{% endblock %}
{% block robots %}noindex,follow{% endblock %}
{% block canonical %}<link rel="canonical" url="{{ FRAMEWORK_URL }}/event/perma/id/{{ event.event_id }}">{% endblock %}
{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Event/Template/default/command/css/event.view.css" media="screen, projection" />
{% endblock stylesheet %}
{% block content %}
  <!-- {{ _self.getTemplateName() }} -->  
  <div class="event view container">
    {% include '@phpManufaktur/Event/Template/default/command/item/event.custom.twig' %}
  </div>
{% endblock %}

