{#
  Event

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de/Event
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'framework/body.twig') %}
{% block stylesheet %}
  {{ parent() }}
  {% if fileExists(MANUFAKTUR_PATH ~ '/Event/Template/' ~ FRAMEWORK_TEMPLATES.0 ~ '/css/admin.min.css') %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/Event/Template/' ~ FRAMEWORK_TEMPLATES.0 ~ '/css/admin.min.css' }}" media="screen, projection" />
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL ~ '/Event/Template/default/css/admin.min.css' }}" media="screen, projection" />
  {% endif %}
{% endblock %}
{% block title %}{{ 'Import events from kitEvent'|trans }}{% endblock %}
    
{% block content %}
  <!-- {{ _self.getTemplateName() }} -->  
  <div class="container{% if usage != 'framework'%}-fluid{% endif %}">  
    <div class="panel panel-primary">
      <div class="panel-heading">{{ 'Import events from kitEvent'|trans }}</div>
      <div class="panel-body">
        {{ alert }}
        {% if app.translator.locale == 'de' %}
          {# german translation #}
          <p><b>Achtung:</b></p>
          <p>Sie müssen zunächst alle <a href="{{ FRAMEWORK_URL ~ '/admin/contact/import/keepintouch' }}">KeepInTouch Kontakte in kitFramework <i>Contact</i></a> importieren, bevor Sie die Datenübernahme aus kitEvent starten.</p>
        {% else %}
          {# english translation #}
          <p><b>Attention:</b></p>
          <p>You must <a href="{{ FRAMEWORK_URL ~ '/admin/contact/import/keepintouch' }}">import all KeepInTouch contacts into kitFramework <i>Contact</i></a> before you start the import from kitEvent.</p>
        {% endif %}

        {% if import_is_possible %}
          <p><a class="btn btn-primary btn-lg" role="button" href="{{ FRAMEWORK_URL ~ '/admin/event/import/kitevent/import' }}">{{ 'Start import from kitEvent'|trans }}</a></p>
        {% endif %}
      </div>
    </div>
  </div>  
{% endblock content %}

