{#
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2014 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'framework/body.twig') %}
{% block title %}{{ 'kitFramework - Account'|trans }}{% endblock %}
{% block content %}
  <!-- {{ _self.getTemplateName() }} -->
  <div class="container">
    <div class="page-header">
      <h1>{{ 'Accounts'|trans }} <small>kitFramework</small></h1>
    </div>
    
    {{ alert }}
    
    <div class="create-button">
      <a class="btn btn-default pull-right" role="button" href="{{ FRAMEWORK_URL ~ '/admin/accounts/edit?usage=' ~ usage }}">{{ 'Create a new account'|trans }}</a>
    </div>
    
    {#  
      The pagination serve a automatic 1 2 3 ... 17 18 19 pagination and 
      navigation for the table if it contain more rows than specified in: 
      /Basic/Template/default/framework/accounts.list.json 
      Changes here must be also done at the footer of the table !!!
    #}  
    {% include '@phpManufaktur/Basic/Template/default/framework/pagination.twig' with {
      currentPage: current_page,
      paginationPath: FRAMEWORK_URL ~ route.pagination|replace({'{order}':order_by|join(','), '{direction}':order_direction}),
      lastPage: last_page,
      showAlwaysFirstAndLast: true
    } only %}

    <div class="table-responsive">
      <table class="table table-striped table-condensed table-hover">
        <thead>
          <tr>  
            {# 
                Enable an automatic ordering of the table by the columns, just
                clicking at the head of the column. Default order is specified in:
                /Basic/Template/default/framework/accounts.list.json 
             #}
            {% set order_by_str = order_by|join(',') %}
            {% for head in accounts.0|keys %}
              {% if head in columns %}
                {% set head_order = order_direction %}
                {% set head_class = head %}
                {% if (head == order_by_str) %}
                  {% if (head_order == 'asc') %}
                    {% set head_order = 'desc' %}                
                    {% set head_class = head_class ~ ' active asc' %}
                  {% else %}
                    {% set head_order = 'asc' %}
                    {% set head_class = head_class ~ ' active desc' %}
                  {% endif %}
                {% endif %}  
                <th class="{{ head_class }}">
                  {% if 'active asc' in head_class %}
                    <i class="fa fa-sort-alpha-asc"></i>&nbsp;
                  {% elseif 'active desc' in head_class %}
                    <i class="fa fa-sort-alpha-desc"></i>&nbsp;
                  {% endif %}
                  <a href="{{ FRAMEWORK_URL ~ route.pagination|replace({'{page}':current_page, '{order}':head, '{direction}':head_order}) }}" title="{% if head_order == 'asc' %}{{ 'Click to sort column ascending'|trans }}{% else %}{{ 'Click to sort column descending'|trans }}{% endif %}">{{ head|humanize|trans }}</a>
                </th>  
              {% endif %}
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for account in accounts %}
            <tr>
              {% for column, value in account %} 
                {% if column in columns %}
                  {% if column == 'id' %}
                    <td class="{{ column }}">
                      <a href="{{ FRAMEWORK_URL ~ route.edit|replace({'{account_id}':value}) }}">{{ '%05d'|format(value) }}</a>                      
                    </td>
                  {% elseif column == 'username' %}
                    <td class="{{ column }}">
                      <a href="{{ FRAMEWORK_URL ~ route.edit|replace({'{account_id}':value}) }}">{{ value }}</a>                      
                    </td>
                  {% elseif column == 'email' %}
                    <td class="{{ column }}"><a href="mailto:{{ value }}">{{ value }}</a></td>
                  {% elseif column == 'last_login' %}
                    <td class="{{ column }}">{{ value|date('DATETIME_FORMAT'|trans) }}</td>
                  {% elseif column == 'status' %}
                    <td class="{{ column }}">{{ value|lower|humanize|trans }}</td>
                  {% else %}
                    <td class="{{ column }}">{{ value }}</td>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>  
    
    {#
      See top of the table for more information about pagination!
    #}
    {% include '@phpManufaktur/Basic/Template/default/framework/pagination.twig' with {
      currentPage: current_page,
      paginationPath: FRAMEWORK_URL ~ route.pagination|replace({'{order}':order_by|join(','), '{direction}':order_direction}),
      lastPage: last_page,
      showAlwaysFirstAndLast: true
    } only %}

  </div>
{% endblock %}
