{#
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if basic.cms.type == 'framework' %}
  {% set template_file = 'framework/body.twig' %}
{% else %}
  {% set template_file = 'kitcommand/iframe.body.twig' %}
{% endif %}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', template_file) %}
{% block title %}{{ 'Goodbye'|trans }}{% endblock %}
{% block content %}
  <!-- {{ _self.getTemplateName() }} -->
  <div class="container">
    <div class="page-header">
      <h1>{{ 'Goodbye'|trans }} <small>kitFramework</small></h1>
    </div>
    
    {{ alert }}
    
    {% if alert|length < 1 %}
      {% include '@phpManufaktur/Basic/Template/default/pattern/bootstrap/alert.twig' 
        with {content:'Thank you for using the kitFramework'|trans} only %}
      <p><a href="{{ FRAMEWORK_URL ~ '/login' }}">{{ 'Login'|trans }}</a></p>
    {% endif %}
  </div>
{% endblock %}
