{# 
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
<a href="{{ mailhide_url }}" onclick="window.open('{{ mailhide_url }}', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="{{ 'Reveal this e-mail address'|trans }}">{% if title|length > 0 %}{{ title }}{% else %}{{ email_parts.0 }}...{{ email_parts.1 }}{% endif %}</a>