{#
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
  {% set template_file = 'framework/body.twig' %}
{% else %}
  {% set template_file = 'kitcommand/bootstrap/iframe.body.twig' %}
{% endif %}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', template_file) %}
{% block title %}{{ 'Forgot your password?'|trans }}{% endblock %}
{% block content %}
  <!-- {{ _self.getTemplateName() }} -->
  <div class="container{% if usage != 'framework' %}-fluid{% endif %}">
    <h1>{{ 'Forgot your password?'|trans }}</h1>
    {{ alert }}
    
    {% if alert|length < 1 %}
      {% include '@phpManufaktur/Basic/Template/default/pattern/bootstrap/alert.twig' 
        with {content:'If you have forgotten your password, you can order a link to create a new one. Please type in the email address assigned to your account and submit the form.'|trans} only %}
    {% endif %}  
    
    {% form_theme form '@phpManufaktur/Basic/Template/default/framework/form.fields.horizontal.twig' %}
    
    <form class="form-horizontal" action="{{ FRAMEWORK_URL }}/password/reset?usage={{ usage }}" method="post" role="form">
      {{ form_widget(form) }}  
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
          <button type="submit" class="btn btn-default">{{ 'Submit'|trans }}</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
