{#
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
  {% set template_file = 'framework/body.twig' %}
{% else %}
  {% set template_file = 'kitcommand/bootstrap/iframe.body.twig' %}
{% endif %}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', template_file) %}
{% block title %}
  {{ 'kitFramework - Link transmitted'|trans }}
{% endblock %}
{% block content %}
  <!-- {{ _self.getTemplateName() }} -->
  <div class="container{% if usage != 'framework' %}-fluid{% endif %}">
    <div class="page-header">
      <h1>{{ 'Link transmitted'|trans }} <small>kitFramework</small></h1>
    </div>
    <div class="alert alert-info">
      <p>{{ 'We have send a link to your email address %email%.'|trans({'%email%':email}) }}</p>
      <p>{{ 'This link enable you to change your password once within 24 hours.'|trans }}</p>
      <p><a href="{{ FRAMEWORK_URL }}/login?usage={{ usage }}"{%if usage != 'framework' %} target="parent"{% endif %}>{{ 'Login'|trans }}</a></p>
    </div>
  </div>
{% endblock %}