{#
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
  {% set template_file = 'framework/body.twig' %}
{% else %}
  {% set template_file = 'framework/backend.body.twig' %}
{% endif %}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', template_file) %}
{% block title %}{{ 'Welcome'|trans }}{% endblock %}

{% block content %}
  <!-- {{ _self.getTemplateName() }} -->
  <div class="container">
    <div class="page-header">
      <h1>kitFramework <small>{{ 'Extensions'|trans }}</small></h1>
    </div>

    {{ alert }}

    {% if alert|length == 0 %}
      <div class="alert alert-info">
        {% if app.translator.locale == 'de' %}
          <p>Dieser Übersichtsdialog befindet sich noch im Experimentierstadium, Vorschläge und Ideen sind herzlich willkommen!</p>
          <p>Bitte besuchen Sie die Seite <a class="alert-link" href="https://kit2.phpmanufaktur.de/firststeps" target="_blank">Erste Schritte mit dem kitFramework</a> für einen Einstieg.</p>
        {% else %}
          <p>This overview dialog is just in progress and experimental, your suggestions and ideas are welcome!</p>
          <p>Please visit the introduction <a class="alert-link" href="https://kit2.phpmanufaktur.de/firststeps" target="_blank">Erste Schritte mit dem kitFramework</a> (in german language) for the first steps.</p>
        {% endif %}
      </div>
    {% endif %}


    <h2>{{ 'Installed extensions'|trans }}</h2>

    <div class="hidden-md hidden-sm hidden-xs">
      {# LARGE DEVICE #}
      {% set counter = 1 %}
      {% for item in register_items %}
        {% if counter == 1 %}
          <div class="row">
        {% endif %}
        <div class="col-lg-3">
          {% include '@phpManufaktur/Basic/Template/default/framework/welcome.item.installed.twig' %}
        </div>
        {% if counter == 4 %}
          </div>
          {% set counter = 1 %}
        {% else %}
          {% set counter = counter + 1 %}
        {% endif %}
      {% endfor %}
      {% if counter != 1 %}</div>{% endif %}
    </div>

    <div class="hidden-lg hidden-xs">
      {# MEDIUM and SMALL DEVICE #}
      {% set counter = 1 %}
      {% for item in register_items %}
        {% if counter == 1 %}
          <div class="row">
        {% endif %}
        <div class="col-md-4 col-sm-4">
          {% include '@phpManufaktur/Basic/Template/default/framework/welcome.item.installed.twig' %}
        </div>
        {% if counter == 3 %}
          </div>
          {% set counter = 1 %}
        {% else %}
          {% set counter = counter + 1 %}
        {% endif %}
      {% endfor %}
      {% if counter != 1 %}</div>{% endif %}
    </div>

    <div class="hidden-lg hidden-md hidden-sm">
      {# XTRA SMALL DEVICE #}
      {% for item in register_items %}
        <div class="row">
          <div class="col-xs-12">
            {% include '@phpManufaktur/Basic/Template/default/framework/welcome.item.installed.twig' %}
          </div>
        </div>
      {% endfor %}
    </div>

    <h2>{{ 'Available extensions'|trans }}</h2>
    {% if app.translator.locale == 'de' %}
      <p>Diese Liste wird automatisch aktualisiert, falls über Github ein neuer <a href="https://github.com/phpManufaktur/kitFramework_Catalog" target="blank">kitFramework Katalog</a> verfügbar ist.</p>
    {% else %}
      <p>The list of available extensions will be automatically updated if a new <a href="https://github.com/phpManufaktur/kitFramework_Catalog" target="blank">kitFramework catalog</a> is avaiable from Github.</p>
    {% endif %}

    <div class="hidden-md hidden-sm hidden-xs">
      {# LARGE DEVICE #}
      {% set counter = 1 %}
      {% for item in catalog_items %}
        {% if counter == 1 %}
          <div class="row">
        {% endif %}
        <div class="col-lg-3">
          {% include '@phpManufaktur/Basic/Template/default/framework/welcome.item.available.twig' %}
        </div>
        {% if counter == 4 %}
          </div>
          {% set counter = 1 %}
        {% else %}
          {% set counter = counter + 1 %}
        {% endif %}
      {% endfor %}
      {% if counter != 1 %}</div>{% endif %}
    </div>

    <div class="hidden-lg hidden-xs">
      {# MEDIUM and SMALL DEVICE #}
      {% set counter = 1 %}
      {% for item in catalog_items %}
        {% if counter == 1 %}
          <div class="row">
        {% endif %}
        <div class="col-md-4 col-sm-4">
          {% include '@phpManufaktur/Basic/Template/default/framework/welcome.item.available.twig' %}
        </div>
        {% if counter == 3 %}
          </div>
          {% set counter = 1 %}
        {% else %}
          {% set counter = counter + 1 %}
        {% endif %}
      {% endfor %}
      {% if counter != 1 %}</div>{% endif %}
    </div>

    <div class="hidden-lg hidden-md hidden-sm">
      {# XTRA SMALL DEVICE #}
      {% for item in catalog_items %}
        <div class="row">
          <div class="col-xs-12">
            {% include '@phpManufaktur/Basic/Template/default/framework/welcome.item.available.twig' %}
          </div>
        </div>
      {% endfor %}
    </div>

    <h2>{{ 'Data replication'|trans }}</h2>
    <p><span class="glyphicon glyphicon-eye-open"></span>&nbsp;<a href="{{ scan_extensions }}#top">{{ 'Scan for installed extensions'|trans }}</a></p>
    <p><span class="glyphicon glyphicon-cloud-download"></span>&nbsp;<a href="{{ scan_catalog }}#top">{{ 'Scan the online catalog for available extensions'|trans }}</a></p>
  </div>
{% endblock %}
