{# 
  kitFramework::Basic

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
<iframe class="{{ frame.class }}" id="{{ frame.id }}" name="{{ frame.name }}" src="{{ frame.source }}" width="{{ frame.width }}" height="{{ frame.height }}" scrolling="auto" marginheight="0" marginwidth="0" frameborder="0" allowTransparency="true" style="color:#000;background:rgba(0,0,0,0);" >
  <p>{{ 'Please <a href="%source%">visit this page</a> to view the content of this iframe.'|trans({'%source%':frame.source}) }}</p>
</iframe>
